.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top:200px;
  padding-bottom:180px;
  padding-right:180px;

}

.contact-info {
  flex: 2;
  padding-right: 70px;
  margin-right: 120px;
  padding-left: 100px;
}

.contact-info h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.contact-info h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.contact-details {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  margin-bottom: 20px;

}

.contact-item .icon {
  font-size: 24px;
  color: #08509d;
  margin-right: 15px;
  padding:20px;
  background-color: #e9f0f7;
  border-radius: 6px;
  width: 70px;
  height: 70px;

}

.contact-item h4 {
  font-size: 16px;
  color: #08509d;
  margin-bottom: 5px;
  padding-top: 10px;
}

.contact-item p {
  font-size: 14px;
  color: #666;
}

.contact-form {

  flex: 1;
  padding-left: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  padding-bottom: 0px;
  width:200px !important;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form .btn {
  width: 100%;
  background-color: #08509d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0;
}

.contact-form .btn:hover {
  background-color: #0056b3;
}
.contact-form .form-control:focus {
  border:solid 2px #64abf6;
  outline: none;
  box-shadow: none;
}


@media (max-width: 1024px) {
  .contact-section {
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-right: 90px;
  }

  .contact-info {
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
  }

  .contact-form {
    padding: 20px;
    width: 100% !important;
  }
  .contact-form .btn {

    margin-bottom: 40;
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 45px;
    padding-right: 45px;
  }

  .contact-info {
    padding: 0;
    margin: 0;
  }


  .contact-form {
    padding: 20px;
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .contact-section {
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 22.5px;
    padding-right: 22.5px;
  }

  .contact-info {
    padding: 0;
    margin: 0;
  }

  .contact-form {
    padding: 20px;
    width: 100% !important;
  }

  .contact-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-item .icon {
    margin-bottom: 10px;
  }
}
