
 h1{
  color: #000;
text-align: center;
font-family: Cairo;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 137.5% */
 }

 .date{
  color: var(--Gray-800, #1D2939);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */

}
.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


:host ::ng-deep .p-card .p-card-content {
   padding-bottom: 0 !important;
}
:host ::ng-deep .p-chip {
  background-color: #fff;
}
:host ::ng-deep .p-chip img {
  width:28px;
  height: 28px;
}
:host ::ng-deep .p-card{


height: 490px;
display: flex;
flex-direction: column;
justify-content: space-between;


}

:host ::ng-deep .p-chip .p-chip-text {
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  color: #000;
text-align: right;
font-family: Almarai;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}























 .main-div{
  padding-top: 100px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F6F6F6;
  padding-bottom: 70px;
}
.main-div h1{
  margin-top: 2rem;
  padding-bottom: 20px;
}

.main-div{

  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding-bottom: 70px;
}

.container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
  gap: 24px;
  height: auto;
  padding: 10px;
  justify-content: center;
}
 @media (min-width:992px) {
  .containerr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
 }
.box{
  text-align: center;
  position: relative;


}
.box .img{
  position: absolute;
  top: 5px;
  right: 5px;
}
.box h2{

  font-weight: 800;
}
.box p{
  padding: 5px;

}


:host ::ng-deep .p-paginator{
  background-color: transparent;
  margin-top: 40px;
}

:host ::ng-deep .p-card{
  border-radius: 8px;
border: 1px solid var(--Gray-200, #E4E7EC);

}

:host ::ng-deep .p-card img{
  border-radius: 8px 8px 0 0;


}

.text{
  display: flex;
  flex-direction: column;

height: 178px;
}

.head{
  color: var(--Gray-800, #1D2939);
  font-family: Inter;
  font-size: 18px;
  font-size: 22px;

  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-align: start;
  padding-bottom: 12px;
}

.info{
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-align: start;
  padding-bottom: 10px;
  word-break: break-all;

}
.date{
  color: var(--Gray-800, #1D2939);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-align: start;
}


.menu{
  position: absolute;
  top:10px;
  right: 30px;
  background: #fff;
  color: var(--Color-Style-Grey-2, #5B5B5B);


width: 200px;
padding: var(--corner-radius-16, 16px) 16px;

text-align: start;
border-radius: 8px;
background: var(--Key-colors-White, #FFF);
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);

}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
