<div class="parent">

  <div class="head" style="margin-bottom: 50px;">
    <p class="title">Review your listing information</p>
    <p class="description">
      Please review entered data before submit.
    </p>
  </div>

  <div class="aprt-info">

    <div class="part">
       <div class="address">Apartment Location</div>
       <div class="sec">
            <div class="infoo">Apartment Location</div>
            <div class="info">germany,xyz,1001</div>
       </div>
    </div>
    <div class="divider"></div>
    <div class="part">
      <div class="address">Your Information</div>
      <div class="sec">
           <div class="infoo">full name</div>
           <div class="info">ashraf salah</div>
      </div>
    <div class="divide"></div>

      <div class="sec">
        <div class="infoo">email</div>
        <div class="info">ashraf&#64;gmail.com</div>
   </div>
   <div class="divide"></div>

   <div class="sec">
     <div class="infoo">phone number</div>
     <div class="info">+201154652528</div>
  </div>
  </div>
  <div class="divider"></div>

  <div class="part">
    <div class="address">Apartment Type</div>
    <div class="sec">
         <div class="infoo">Apartment Type</div>
         <div class="info">Furnished Apartment</div>
    </div>
 </div>
 <div class="divider"></div>

 <div class="part">
  <div class="address">apartment details</div>

       <div class="infoo" style="margin: 20px 0;">apartment details</div>
       <div class="divide"></div>

       <div class="sec">
        <div class="infoo">size of apartment.</div>
        <div class="info">100m2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">Apartment Type</div>
        <div class="info">Furnished Apartment</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">apartment floor.</div>
        <div class="info">2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">number of rooms.</div>
        <div class="info">2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">number of bathrooms.</div>
        <div class="info">2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">number of kitchens</div>
        <div class="info">2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">the minimum duration required for the contract.</div>
        <div class="info">2</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">the maximum duration required for the contract.</div>
        <div class="info">2</div>
      </div>




</div>
<div class="divider"></div>

<div class="part">
  <div class="address">amenities provided</div>

       <div class="infoo" style="  margin: 20px 0;">amenities provided</div>
       <div class="divide"></div>

       <div class="sec">
        <div class="infoo">general</div>
        <div class="info">wheelchair accessibility,elevator,desk or work space
          door inter come system,balconey,terrace,tv,coffe machine,washing machine</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">kitchen</div>
        <div class="info">stove,oven,freezer
          refrigerator,elevator,dish washer,microwave, kattle,toaster,cutlery</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">bed room</div>
        <div class="info">bed linens,blanket,closet,pillows,bedside lamp</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">bathroom.</div>
        <div class="info">shower,bathtub,hairdryer,bidet,towels</div>
      </div>
      <div class="divide"></div>

      <div class="sec">
        <div class="infoo">additional equipment</div>
        <div class="info">iron,ironing board,vacuum cleaner,broom,air conditioning,floor heating,floor mop,barbecue,swimming pool,smokedetector,home cinema,smart home technology,sauna,study rooms,out door area,community lounge</div>
      </div>


</div>
<div class="divider"></div>

<div class="image-list">
  <div class="item">

    <div>
      <img class="image-item" src="https://via.placeholder.com/500x300" alt="image"  >
      <div class="bin" (click)="removeImage()"><img src="bin.svg"/></div>
    </div>
  </div>
  <div class="item">

    <div>
      <img class="image-item" src="https://via.placeholder.com/500x300" alt="image"  >
      <div class="bin" (click)="removeImage()"><img src="bin.svg"/></div>
    </div>
  </div>
  <div class="item">

    <div>
      <img class="image-item" src="https://via.placeholder.com/500x300" alt="image"  >
      <div class="bin" (click)="removeImage()"><img src="bin.svg"/></div>
    </div>
  </div>
  <div class="item">

    <div>
      <img class="image-item" src="https://via.placeholder.com/500x300" alt="image"  >
      <div class="bin" (click)="removeImage()"><img src="bin.svg"/></div>
    </div>
  </div>

</div>

<div class="part" >
  <div class="address">describe apartment</div>


       <div class="divide"></div>

       <div class="sec" style="flex-direction: column !important;     align-items: start !important; gap:20px">
        <div class="infoo" style=" text-align: left !important;  ">long description</div>
        <div class="info" style="max-width:100% !important; text-align: left !important;  ">iron,ironing board,vacuum cleaner,broom,air conditioning,floor heating,floor mop,barbecue,swimming pool,smokedetector,home cinema,smart home technology,sauna,study rooms,out ,bed goodlinens,closet,pillow,bedside,lamp,iron,hairdryer,towels,area,community  bedroom ,smart  ,vaccum home technology lounge iron,ironing board,vacuum cleaner,broom,air conditioning,floor heating,floor mop,barbecue,swimming pool,smokedetector,home cinema,smart home technology,sauna,studyrooms,outgoodlinens,closet,pillow,bedside,lamp,iron,hairdryer, towels,area,community  bedroom ,smart  ,vaccum home technology lounge</div>
      </div>




</div>
<div class="divider"></div>

<div class="part">
  <div class="address">pricing and rules</div>
  <div class="sec">
       <div class="infoo">monthely rent</div>
       <div class="info">1000$</div>
  </div>
<div class="divide"></div>

  <div class="sec">
    <div class="infoo">deposit</div>
    <div class="info">2,500$</div>
</div>
<div class="divide"></div>

<div class="sec">
 <div class="infoo">bets</div>
 <div class="info">allowed</div>
</div>

<div class="divide"></div>

  <div class="sec">
    <div class="infoo">smoking</div>
    <div class="info">allowed</div>
</div>

</div>


  </div>
</div>
