
<div style="height: 85px;  background: var(--Neutral-Neutral95, #F6F6F6);"></div>
<p-breadcrumb class="max-w-full" [model]="items">
  <ng-template pTemplate="item" let-item>
      <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
          <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
          <span>{{ item.label }}</span>
      </a>
  </ng-template>
</p-breadcrumb>
<div class="main-container row g-5"   >



<div class="col-lg-3 col-md-6 col-sm-1">

  <app-app-sider></app-app-sider>
</div>



  <div *ngIf="totalData>0" class="col-lg-9 col-md-6 col-sm-11">
    <p-card  *ngFor="let invoice of invoices"  [style]="{ width: '360px' }">
      <!-- <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template> -->


      <div class="booking-card" (click)="openModal(invoice.inv_ID,invoice.inv_Paid)">
        <div class="head">
          <h3>{{invoice?.apt_Name}}</h3>
          <span *ngIf="!invoice.inv_Paid" class="status unpaid">Unpaid</span>
          <span *ngIf="invoice.inv_Paid" class="status paid">Paid</span>

        </div>

        <div class="dates">
          <div class="checkin">
            <span class="label">Date of Issue</span>
            <span class="date">{{ invoice.inv_Issue | date: 'dd MMM yyyy' }}</span>
          </div>
          <div class="divider"></div>
          <div class="checkout">
            <span class="label">Invoice no</span>
            <span class="date">{{ invoice.inv_Code }}</span>
          </div>
        </div>
      </div>

      <div class="dividerr mt-3 mb-3 mx-4"></div>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="total-label">Total</div>
        <div class="total-price">€{{ invoice.inv_Total }}</div>
      </div>
   </p-card>

  </div>

  <div class="col-lg-9 col-md-6 col-sm-11">
    <div *ngIf="totalData===0" class="alert alert-info " role="alert">
      No Invoices Found .
    </div>
  </div>


</div>






<!--------------DIALOG DETAILS---------------->

<div class="modal " id="loginModal" tabindex="-1"  role="dialog" [ngStyle]="{'display': displayDetails}" style="background-color: rgb(23 22 22 / 50%);">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0" style="position: relative;">
        <button aria-hidden="true" style="position: absolute; top:0; right:0; background-color: transparent; border:none;" (click)="onCloseModal()">×</button>


        <div class=" container mt-4" style=" padding:20px;  "  >


          <div class="head">

              <h3>{{invDetails?.apt_Name}}</h3>
              <span *ngIf="!inv_Paid" class="status unpaid">Unpaid</span>
              <span *ngIf="inv_Paid" class="status paid">Paid</span>
          </div>
          <p class="label mb-5">{{invDetails?.description}}</p>
          <div class="booking-summary-frame">
          <div   style="width: 100%;">
            <div    >
              <div class="d-flex justify-content-between align-items-center w-100 mb-3">
                <div class="room-title mb-4">
                  <span class="label">Date of Issue</span>
                  <span class="date">{{ invDetails?.issued_On | date: 'dd MMM yyyy' }}</span>
                </div>
                <div class="room-price mb-4">
                  <span class="label">Invoice no</span>
                  <span class="date">{{ invDetails?.invoice_No }}</span>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center w-100 mb-3">
                <div class="room-title mb-4">
                  <span class="label">Start Date</span>
                  <span class="date">{{ invDetails?.invoice_Start | date: 'dd MMM yyyy'}}</span>
                </div>
                <div class="room-price mb-4">
                  <span class="label">End Date</span>
                  <span class="date">{{ invDetails?.invoice_End  | date: 'dd MMM yyyy'}}</span>
                </div>
              </div>

              <div class="dividerr mb-4"></div>


              <!-- <div class="d-flex justify-content-between align-items-center  w-100 mb-4">

                  <span class="label">Security Deposit Amount (25%)  </span>


                <div class="fee-price">$333</div>
              </div>
              <div class="d-flex justify-content-between align-items-center  w-100 mb-0">
                <div class="label">Service Fee</div>
                <div class="fee-price">$888</div>
              </div> -->
            </div>
            <!-- <p class="text mb-4">service fee paid one time</p> -->

            <!-- <div class="dividerr mt-3 mb-4"></div> -->
            <div class="d-flex justify-content-between align-items-center w-100 mb-4">
              <div class="total-label">Total</div>
              <div class="fee-price">€{{invDetails?.price }}</div>
            </div>

            <!-- <div class="d-flex justify-content-between align-items-center  w-100 mb-4">

                <span class="label">Payment Method</span>


              <div class="fee-price">Cash</div>
            </div> -->


            <div class="dividerr mt-3 mb-4"></div>

            <p class="note">Note</p>
            <p class="noteContent">After the lease period ends, you can request a refund of the security deposit</p>

            <div class="button-container mt-6">
              <!-- Download Invoice Button -->
              <!-- <p-button label="Download Invoice" icon="pi pi-download" class="download-button"><a [href]="invDetails?.inv_Path"></a></p-button> -->
              <a [href]="invDetails?.inv_Path"  download style="text-decoration: none;" target="_blank">
                <p-button label="Download Invoice" icon="pi pi-download" class="download-button"></p-button>
              </a>
              

              <!-- Pay Now Button -->
              <p-button label="Pay Now " class="pay-button" (click)=" payNow(invID)" [disabled]="inv_Paid"></p-button>
            </div>



          </div>




          </div>




      </div>





      </div>
    </div>
  </div>
</div>
