

<!-- <div class="fixed">
 <app-header (toggleSearchEvent)="toggleSearch()"></app-header>
</div>
<div *ngIf="searchVisible" class="fixed-search-bar">
  <app-search-bar class="mod"></app-search-bar>
</div> -->


<div class="hero-section">
  <!-- <div class="overlay"></div> -->
  <div class="hero-text">
    <h1>Find your dream apartment</h1>
    <p>Discovering your perfect apartment is effortless with Studiflat.</p>
  </div>
  <app-search-bar (searchResults)="handleSearchResults($event)"></app-search-bar>
</div>


<div *ngIf="apartmentsSearch.length!==0"  class=" w-100 carousel" style="background: #EBEBEB; padding-right:40px; padding-left:40px; padding-bottom: 40px; " >
  <div style="height: 100px;"></div>


  <div class="header" >
    <h1>Search Results</h1>

  </div>



  <div class="main-content carousel-inner " >

    <div  class="apartment-list mt-3 "   >
      <div *ngFor="let apartment of getVisibleApartmentsSearch() ;let i=index"     class="apartment-card carousel-item" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <img [src]="apartment.apartment_Image" alt="{{ apartment.apartment_Name }}" class="apartment-image" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <div class="apartment-content">
          <div class="apartment-header">
            <div class="apartment-title"><a routerLink="/apartment-details/{{apartment?.apartment_ID}}" style="text-decoration: none; color: inherit;">{{ apartment.apartment_Name }}</a></div>
            <i class="pi pi-heart"></i>
          </div>
          <div class="apartment-location">
            <i class="pi pi-map-marker"></i>
            <span>{{ apartment.apartment_Location }}</span>
          </div>
          <div class="divider"></div>
          <div class="apartment-details">
            <div class="detail-item"><img src="bed.png" alt="bed" class="img-fluid">{{ apartment.apartment_No_Bedrooms }} beds</div>
            <div class="detail-item"><i class="pi pi-user"></i>{{ apartment.apartment_Persons_No }} persons</div>
            <div class="detail-item"><i class="pi pi-home"></i>{{ apartment.apartment_Area_Square }} m²</div>
          </div>
          <div class="amenities">
            <span *ngFor="let amenity of apartment.amenities; let last = last">
              <ng-container *ngIf="amenity === 'Wifi'; else regularAmenity">
                <i class="pi pi-wifi"></i> {{ amenity }}
              </ng-container>
              <ng-template #regularAmenity>
                {{ amenity }}
              </ng-template>
              <span *ngIf="!last" class="dot">·</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="apartment-footer">
            <div class="review">
              <span class="rating">{{ apartment.rating }}</span>
              <i class="pi pi-star"></i>
              <span class="review-count">({{ apartment.reviews }} reviews)</span>
            </div>
            <div class="price">
              <span>{{ apartment.apartment_Price }}€</span>/month
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="mapp" >

    </div>

    <!-- <div class="map smallmap"  >
      <img [src]="mapImage" alt="Map"  (click)="navigateToMap()">
    </div> -->

  </div>

  <div class="d-flex justify-content-end align-items-center m-3">
    <button pButton type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-outlined p-button-secondary carousel-control scroll-button" (click)="prevSearch()"></button>
    <button pButton type="button" icon="pi pi-arrow-right " class="p-button-rounded p-button-primary ml-2 carousel-control scroll-button" (click)="nextSearch()"></button>
  </div>

</div>











<div class=" w-100 carousel" style="background: #EBEBEB; padding-right:40px; padding-left:40px; padding-bottom: 40px; ">
  <div style="height: 100px;"></div>


  <div class="header" >
    <h1>Best Offers</h1>
    <p>find questions and answers related to your booking</p>
  </div>



  <div class="main-content carousel-inner " >

    <div  class="apartment-list mt-3 "   >
      <div *ngFor="let apartment of getVisibleApartments() ;let i=index"     class="apartment-card carousel-item" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <img [src]="apartment.apartment_Image" alt="{{ apartment.apartment_Name }}" class="apartment-image" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <div class="apartment-content">
          <div class="apartment-header">
            <div class="apartment-title"><a routerLink="/apartment-details/{{apartment?.apartment_ID}}" style="text-decoration: none; color: inherit;">{{ apartment.apartment_Name }}</a></div>
            <i class="pi pi-heart"></i>
          </div>
          <div class="apartment-location">
            <i class="pi pi-map-marker"></i>
            <span>{{ apartment.apartment_Location }}</span>
          </div>
          <div class="divider"></div>
          <div class="apartment-details">
            <div class="detail-item"><img src="bed.png" alt="bed" class="img-fluid">{{ apartment.apartment_No_Bedrooms }} beds</div>
            <div class="detail-item"><i class="pi pi-user"></i>{{ apartment.apartment_Persons_No }} persons</div>
            <div class="detail-item"><i class="pi pi-home"></i>{{ apartment.apartment_Area_Square }} m²</div>
          </div>
          <div class="amenities">
            <span *ngFor="let amenity of apartment.amenities; let last = last">
              <ng-container *ngIf="amenity === 'Wifi'; else regularAmenity">
                <i class="pi pi-wifi"></i> {{ amenity }}
              </ng-container>
              <ng-template #regularAmenity>
                {{ amenity }}
              </ng-template>
              <span *ngIf="!last" class="dot">·</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="apartment-footer">
            <div class="review">
              <span class="rating">{{ apartment.rating }}</span>
              <i class="pi pi-star"></i>
              <span class="review-count">({{ apartment.reviews }} reviews)</span>
            </div>
            <div class="price">
              <span>{{ apartment.apartment_Price }}€</span>/month
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="mapp" >

    </div>

    <!-- <div class="map smallmap"  >
      <img [src]="mapImage" alt="Map"  (click)="navigateToMap()">
    </div> -->

  </div>

  <div class="d-flex justify-content-end align-items-center m-3">
    <button pButton type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-outlined p-button-secondary carousel-control scroll-button" (click)="prev()"></button>
    <button pButton type="button" icon="pi pi-arrow-right " class="p-button-rounded p-button-primary ml-2 carousel-control scroll-button" (click)="next()"></button>
  </div>

</div>



<div class="HowItWorks" style="background-color: #fff;">
  <div style="height: 70px;"></div>
  <div class="header" style="margin-bottom: 50px;" >
    <h1>How StudiFlats works</h1>
    <p>From Search to Stay, We’ve Got You Covered</p>
  </div>
  <div class="row g-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <p-card header="Search & Select"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header">



            <img alt="Card" src="select.svg"  class="iconwork"/>


        </ng-template>
        <p>
          Students can set their search criteria in the StudiFlats app to receive personalized apartment suggestions. They can then browse and select the perfect option that fits their needs.
        </p>

    </p-card>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <p-card header="Lease & Documents"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header">



            <img alt="Card" src="doc.svg"  class="iconwork"/>


        </ng-template>
        <p>
          After selecting an apartment, users can confirm their inquiry and upload the necessary documents to sign the lease agreement directly through the app.
        </p>

    </p-card>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <p-card header="Manage & Pay"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header">



            <img alt="Card" src="payment.svg"  class="iconwork"/>


        </ng-template>
        <p>
          The app lets students manage their rental, handle payments, and report issues seamlessly, ensuring a hassle-free rental experience.
        </p>

    </p-card>
    </div>
  </div>

  <div style="height: 45px;"></div>

</div>



<div class="HowItWorks" style="background-color: #EBEBEB;">
  <div style="height: 70px;"></div>
  <div class="header" style="margin-bottom: 50px;" >
    <h1>Our Customer Feedback</h1>
    <p>Don’t take our word for it. Trust our customers</p>
  </div>
  <p-carousel
  [value]="userComments"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
  styleClass="custom-carousel">
  <ng-template let-comment pTemplate="item">
      <div class="p-card comments  shadow-2 p-3 mb-3 border-round" style="height: 250px;">
          <div class="flex align-items-center ">
              <img
                  src="{{ comment.userImage }}"
                  alt="{{ comment.userName }}"
                  class="w-4rem h-4rem border-circle mr-3"
                  style="border: 3px solid #FFDD57; padding: 0.25rem;" />
              <div class="flex justify-content-between align-items-center w-full">
                  <div>
                      <span class="text-lg font-bold">{{ comment.userName }}</span>
                  </div>
                  <div class="flex align-items-center">
                      <span class="text-md font-bold">{{ comment.rating }}</span>
                      <i class="pi pi-star text-warning ml-2"></i>
                  </div>
              </div>
          </div>
          <div class="mt-3">
              <p class="text-md">
                  {{ comment.userComment }}
              </p>
          </div>
      </div>
  </ng-template>
</p-carousel>




  <div style="height: 45px;"></div>

</div>



<app-faq [fixheight]="'50px'" [customClass]="'custom-accordion-style'" [backgroundColor]="'#fff'" [titleAlignment]="'left'" [titleMargin]="'0'" [faqLimit]="3" [showViewAllButton]="true"></app-faq>


<!-- <app-footer ></app-footer> -->



