

<!-- <div class="fixed">
 <app-header (toggleSearchEvent)="toggleSearch()"></app-header>
</div>
<div *ngIf="searchVisible" class="fixed-search-bar">
  <app-search-bar class="mod"></app-search-bar>
</div> -->


<div class="hero-section">
  <!-- <div class="overlay"></div> -->
  <!-- <video autoplay muted loop id="background-video">
    <source src="https://youtu.be/ZGRlxoqg994" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  <div class="overlay"></div>
  <!-- <div class="video-background">
    <iframe
      src="https://www.youtube.com/embed/ZGRlxoqg994?autoplay=1&mute=1&loop=1&playlist=ZGRlxoqg994"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
      id="background-video">
    </iframe>
  </div> -->

  <div class="video-background">
    <div class="video-foreground">
      <iframe
      src="https://www.youtube.com/embed/ZGRlxoqg994?autoplay=1&mute=1&loop=1&playlist=ZGRlxoqg994&controls=0&modestbranding=1"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
      id="background-video">
    </iframe>
    </div>
  </div>
  <div class="hero-text">
    <h1>Find your dream apartment</h1>
    <p>Discovering your perfect apartment is effortless with Studiflat.</p>
  </div>
  <app-search-bar (searchResults)="handleSearchResults($event)"></app-search-bar>
</div>


<div *ngIf="apartmentsSearch.length!==0"  class=" w-100 carousel" style="background: #EBEBEB; padding-right:40px; padding-left:40px; padding-bottom: 40px; " >
  <div style="height: 100px;"></div>


  <div class="header" >
    <h1>Search Results</h1>

  </div>



  <div class="main-content carousel-inner " >

    <div  class="apartment-list mt-3 "   >
      <div *ngFor="let apartment of getVisibleApartmentsSearch() ;let i=index"     class="apartment-card carousel-item" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <img [src]="apartment.apartment_Image" alt="{{ apartment.apartment_Name }}" class="apartment-image" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <div class="apartment-content">
          <div class="apartment-header">
            <div class="apartment-title"><a routerLink="/apartment-details/{{apartment?.apartment_ID}}" style="text-decoration: none; color: inherit;">{{ apartment.apartment_Name }}</a></div>
            <i class="pi pi-heart"></i>
          </div>
          <div class="apartment-location">
            <i class="pi pi-map-marker"></i>
            <span>{{ apartment.apartment_Location }}</span>
          </div>
          <div class="divider"></div>
          <div class="apartment-details">
            <div class="detail-item"><img src="bed.png" alt="bed" class="img-fluid">{{ apartment.apartment_No_Bedrooms }} beds</div>
            <div class="detail-item"><i class="pi pi-user"></i>{{ apartment.apartment_Persons_No }} persons</div>
            <div class="detail-item"><i class="pi pi-home"></i>{{ apartment.apartment_Area_Square }} m²</div>
          </div>
          <div class="amenities">
            <span *ngFor="let amenity of apartment.amenities; let last = last">
              <ng-container *ngIf="amenity === 'Wifi'; else regularAmenity">
                <i class="pi pi-wifi"></i> {{ amenity }}
              </ng-container>
              <ng-template #regularAmenity>
                {{ amenity }}
              </ng-template>
              <span *ngIf="!last" class="dot">·</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="apartment-footer">
            <div class="review">
              <span class="rating">{{ apartment.rating }}</span>
              <i class="pi pi-star"></i>
              <span class="review-count">({{ apartment.reviews }} reviews)</span>
            </div>
            <div class="price">
              <span>{{ apartment.apartment_Price }}€</span>/month
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="mapp" >

    </div>

    <!-- <div class="map smallmap"  >
      <img [src]="mapImage" alt="Map"  (click)="navigateToMap()">
    </div> -->

  </div>

  <div class="d-flex justify-content-end align-items-center m-3">
    <button pButton type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-outlined p-button-secondary carousel-control scroll-button" (click)="prevSearch()"></button>
    <button pButton type="button" icon="pi pi-arrow-right " class="p-button-rounded p-button-primary ml-2 carousel-control scroll-button" (click)="nextSearch()"></button>
  </div>

</div>











<div class=" w-100 carousel" style="background: #EBEBEB; padding-right:40px; padding-left:40px; padding-bottom: 40px; ">
  <div style="height: 100px;"></div>


  <div class="header" >
    <h1>Best Offers</h1>
    <p>find questions and answers related to your booking</p>
  </div>



  <div class="main-content carousel-inner " >

    <div  class="apartment-list mt-3 "   >
      <div *ngFor="let apartment of getVisibleApartments() ;let i=index"     class="apartment-card carousel-item" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <img [src]="apartment.apartment_Image" alt="{{ apartment.apartment_Name }}" class="apartment-image" routerLink="/apartment-details/{{apartment?.apartment_ID}}">
        <div class="apartment-content">
          <div class="apartment-header">
            <div class="apartment-title"><a routerLink="/apartment-details/{{apartment?.apartment_ID}}" style="text-decoration: none; color: inherit;">{{ apartment.apartment_Name }}</a></div>
            <i class="pi pi-heart"></i>
          </div>
          <div class="apartment-location">
            <i class="pi pi-map-marker"></i>
            <span>{{ apartment.apartment_Location }}</span>
          </div>
          <div class="divider"></div>
          <div class="apartment-details">
            <div class="detail-item"><img src="bed.png" alt="bed" class="img-fluid"> {{ apartment.apartment_No_Bedrooms }} 
              {{ apartment.apartment_No_Bedrooms === 1 ? 'room' : 'rooms' }}</div>
            <div class="detail-item"><i class="pi pi-user"></i>{{ apartment.apartment_Persons_No }} {{ apartment.apartment_Persons_No === 1 ? 'person' : 'persons' }}</div>
            <div class="detail-item"><i class="pi pi-home"></i>{{ apartment.apartment_Area_Square }} m²</div>
          </div>
          <div class="amenities">
            <span *ngFor="let amenity of apartment.amenities; let last = last">
              <ng-container *ngIf="amenity === 'Wifi'; else regularAmenity">
                <i class="pi pi-wifi"></i> {{ amenity }}
              </ng-container>
              <ng-template #regularAmenity>
                {{ amenity }}
              </ng-template>
              <span *ngIf="!last" class="dot">·</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="apartment-footer">
            <div class="review">
              <span class="rating">{{ apartment.rating }}</span>
              <i class="pi pi-star"></i>
              <span class="review-count">({{ apartment.reviews }} reviews)</span>
            </div>
            <div class="price">
              <span>{{ apartment.apartment_Price }}€</span>/month
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="mapp" >

    </div>

    <!-- <div class="map smallmap"  >
      <img [src]="mapImage" alt="Map"  (click)="navigateToMap()">
    </div> -->

  </div>

  <div class="d-flex justify-content-end align-items-center m-3">
    <button pButton type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-outlined p-button-secondary carousel-control scroll-button" (click)="prev()"></button>
    <button pButton type="button" icon="pi pi-arrow-right " class="p-button-rounded p-button-primary ml-2 carousel-control scroll-button" (click)="next()"></button>
  </div>

</div>



<div class="HowItWorks" style="background-color: #fff;">
  <div style="height: 70px;"></div>
  <div class="header" style="margin-bottom: 50px;" >
    <h1>How StudiFlats works</h1>
    <p>From Search to Stay, We’ve Got You Covered</p>
  </div>
  <div class="flex justify-content-between   fixw">
    <div class="col-lg-4   gap-4">
      <!-- <p-card header="Search & Select"   [style]="{  padding: '24px',height: '389px'}"> -->
        <!-- <ng-template pTemplate="header"> -->

          <div class="flex flex-column gap-3">

<div  class="iconwork"><img alt="Card" src="select.svg"  style="width:45px; height: 45px;"/></div>


        <div class="titCard">Search & Select</div>

        <!-- </ng-template> -->
        <p class="pCard">
          Students can set their search criteria in the StudiFlats app to receive personalized apartment suggestions. 
        </p>
        </div>

    <!-- </p-card> -->
    </div>
    

    <div class="col-lg-4 ">
      <!-- <p-card header="Manage & Pay"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header"> -->
    <div class="flex flex-column gap-3">
       

          <div  class="iconwork">
            <img alt="Card" src="payment.svg"   style="width:45px; height: 45px;"/>
          </div>


          <div class="titCard">Manage & Pay</div>

          <!-- </ng-template> -->
          <!-- <p class="pCard"> -->
        <p class="pCard">
          The app lets students manage their rental, handle payments, and report issues seamlessly, ensuring a hassle-free rental experience.
        </p>
</div>
    <!-- </p-card> -->
    </div>
    
    
  </div>

  <!------------------------------------>
  

   
  <div class="container">
    <img src="dash-ellipse-home.svg" class="ellipse" alt="Dashed Ellipse">
    <img src="ellipse-blue.svg" class="blue-circle" alt="Blue Circle">
    <img src="mop-home.svg" class="mobile" alt="Mobile Image">
  </div>
  
  <!------------------------------------>

  <!-- <div class="row g-3"> -->
  <div class="flex justify-content-between  fixw">

    <div class="col-lg-4  ">
      <!-- <p-card header="Lease & Documents"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header"> -->

          <div class="flex flex-column gap-3">

          <div  class="iconwork">
            <img alt="Card" src="doc.svg"    style="width:45px; height: 45px;"/>
          </div>



          <div class="titCard">Lease & Documents</div>

          <!-- </ng-template> -->
          <!-- <p class="pCard"> -->
        <p  class="pCard">
          After selecting an apartment, users can confirm their inquiry and upload the necessary documents to sign the lease agreement directly through the app.
        </p>
</div>
    <!-- </p-card> -->
    </div>
    <div class="col-lg-4  ">
    
    <div class="flex flex-column gap-3">
      <!-- <p-card header="Scan QR Code For Room"   [style]="{  padding: '24px',height: '389px'}">
        <ng-template pTemplate="header"> -->


          <div  class="iconwork">
            <img alt="Card" src="scan.svg"   style="width:45px; height: 45px;"/>
          </div>


          <div class="titCard">Scan QR Code For Room</div>

          <!-- </ng-template> -->
       
        <p class="pCard">
          The app lets students manage their rental, handle payments, and report issues seamlessly, ensuring a hassle-free rental experience.
        </p>

    <!-- </p-card> -->
    </div>
    </div>
  </div>

  <!-------------------------------test--------------------------------------->
  
  <!----------------------------------test--------------------------->

  <div style="height: 45px;"></div>

</div>



<!-- <div class="HowItWorks" style="background-color: #EBEBEB;">
  <div style="height: 70px;"></div>
  <div class="header" style="margin-bottom: 50px;" >
    <h1>Our Customer Feedback</h1>
    <p>Don’t take our word for it. Trust our customers</p>
  </div>
  <p-carousel
  [value]="userComments"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
  styleClass="custom-carousel">
  <ng-template let-comment pTemplate="item">
      <div class="p-card comments  shadow-2 p-3 mb-3 border-round" style="height: 250px;">
          <div class="flex align-items-center ">
              <img
                  src="{{ comment.userImage }}"
                  alt="{{ comment.userName }}"
                  class="w-4rem h-4rem border-circle mr-3"
                  style="border: 3px solid #FFDD57; padding: 0.25rem;" />
              <div class="flex justify-content-between align-items-center w-full">
                  <div>
                      <span class="text-lg font-bold">{{ comment.userName }}</span>
                  </div>
                  <div class="flex align-items-center">
                      <span class="text-md font-bold">{{ comment.rating }}</span>
                      <i class="pi pi-star text-warning ml-2"></i>
                  </div>
              </div>
          </div>
          <div class="mt-3">
              <p class="text-md">
                  {{ comment.userComment }}
              </p>
          </div>
      </div>
  </ng-template>
</p-carousel>




  <div style="height: 45px;"></div>

</div> -->



<app-faq [fixheight]="'50px'" [customClass]="'custom-accordion-style'" [backgroundColor]="'#fff'" [titleAlignment]="'left'" [titleMargin]="'0'" [faqLimit]="3" [showViewAllButton]="true"></app-faq>


<!-- <app-footer ></app-footer> -->

<!------------------------our Partner----------------------->
<div  style="background: #EBEBEB; padding-right:40px; padding-left:80px; padding-bottom: 63px; " >
  <div style="height: 63px;"></div>
  <div class="header " style="margin-bottom: 50px;" >
    <h1>our partners</h1>
    <p>Forward-thinking partners collaborate with StudiFlats </p>
  </div>
  <div class="flex justify-content-center align-items-center mt-4 flex-wrap gap-2 ">
    <img src="ourPartner.svg" class="fixsmall"/>
    <img src="ourPartner.svg" class="fixsmall"/>
    <img src="ourPartner.svg" class="fixsmall"/>

  </div>

</div>

<!------------------------------------------------->
 
<!-- <div style="background: #fff; display: flex; justify-content: center; ">
  <div class="subscribe-container flex justify-content-center align-items-center">
     <div class="formS">
      <h2>Subscribe to our newsletter</h2>
      <p>
        Stay updated with the latest news, exclusive offers, and inspiring ideas
        delivered straight to your inbox.
      </p>
    
      <form (submit)="subscribe()" class="subscribe-form">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter Your Email"
          required
        />
        <button type="submit">Subscribe</button>
      </form>
     </div>
  </div>
  
</div> -->

 


