

.view-all-btn {
  width: 133.57px;
  height: 40px;
  padding: 4px 16px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #1151B4;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 28px;
}
.view-all-btn:hover{
  color:#FFF !important;
  background-color: #1151B4 !important ;
  transform: scale(1.05);
}

.p-button-rounded {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border:#FFF;
}

.ml-2 {
  margin-left: 8px;
}

:host ::ng-deep .pi-arrow-left{
  background-color: #FFF;
}
:host ::ng-deep .pi-arrow-right{
  background-color: #1151B4;
}
:host ::ng-deep .pi {
  border-radius: 50%;
  padding:4px;
}


.main-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.apartment-list {
  flex: 1;
  display: flex;
  // flex-direction: column;
  // scroll-behavior: smooth;



}

.apartment-card {
  display: flex;

  background: #F6F6F6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 270px;
  width: 440px;
  // transition: transform 0.5s ease-in-out;
}
.apartment-card {

  transition: transform 0.5s ease-in-out;
  flex-direction: column;
  height: auto;
}
.apartment-card:hover {
  transform: scale(1.05);
}
.scroll-button {

  transform: translateY(-50%);
}


.apartment-image {
  // width: 300px;
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.apartment-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.apartment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartment-title {
  font-size: 20px;
  font-weight: 500;
}

.apartment-location {
  display: flex;
  align-items: center;
  color: #475467;
  font-size: 12px;
}

.apartment-location i {
  margin-right: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #E5E7EB;
  margin: 8px 0;
}

.apartment-details {
  display: flex;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  align-items: center;
  color: #6B7280;
  font-size: 14px;
}

.detail-item i {
  margin-right: 8px;
}

.apartment-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: #6B7280;
  font-size: 14px;
}

.apartment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review .rating {
  color: #374151;
  font-size: 14px;
  font-weight: 500;
}

.review .pi {
  color: #F59E0B;
}

.review-count {
  color: #374151;
  font-size: 14px;
}

.price {
  color: #374151;
  font-size: 18px;
  font-weight: 500;
}

.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.fixed{
  position: fixed;
  top:0px;

  width: 100%;
  z-index: 88;
}


.fixed-search-bar {
  position: fixed;
  top: 90px;
  width: 100%;
  left: 0;
  z-index: 11;
  // padding-top: 15px;
  background-color: white;
}



.mod {
  width: 100%;
}

.hero-section {
  // background: url('/logo2.png') no-repeat ;
  // background: url('https://youtu.be/ZGRlxoqg994') no-repeat ;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* 1440px in rem */
  height: 37.5rem; /* 600px in rem */
  flex-shrink: 0;
  padding-left: 10px;
}

// .video-background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   z-index: -1;
// }



// .video-background iframe {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   width: 177.78vh;
//   height: 100vh;
//   transform: translateX(-50%);
//   object-fit: cover;
// }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgba(17, 81, 180, 0.10) -62.92%, #002763 100%);
  z-index: 0;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

@media (max-width:500px) {
  .video-background {
    background: #000;
    position: fixed;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
  }
}
@media (max-width:390px) {
  .video-background {
    background: #000;
    position: fixed;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
  }
}
@media (max-width:380px) {
  .video-background {
    background: #000;
    position: fixed;
    top: -120px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
  }
}



// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.4); /* Adjust the opacity here */
//   z-index: 1;
// }

.hero-text {
  z-index: 5;
  color: white;
  margin-bottom: 20px;
}

// .hero-text h1 {
//   font-size: 48px;
//   margin-bottom: 10px;
// }

// .hero-text p {
//   font-size: 18px;
// }
.hero-text h1{
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.06rem;
}

@media (min-width: 75rem) {
  .hero-text h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.06rem;
  }
}

@media (max-width: 74.9375rem) {
  .hero-text h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: -0.05rem;
  }
}

@media (max-width: 61.9375rem) {
  .hero-text h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.04rem;
  }
}

@media (max-width: 47.9375rem) {
  .hero-text h1{
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.03rem;
  }
}

@media (max-width: 35.9375rem) {
  .hero-text h1 {

    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.02rem;
  }
}




.hero-text p {
  color: #FFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 75rem) {
  .hero-text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 74.9375rem) {
  .hero-text p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}

@media (max-width: 61.9375rem) {
  .hero-text p {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 47.9375rem) {
  .hero-text p {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

@media (max-width: 35.9375rem) {
  .hero-text p {
    font-size: 0.6875rem;
    line-height: 1rem;
  }
}

/*--------------how it work ----------*/
// .iconwork{
//   width:60px;
//    height: 60px;
//    border:solid 10px rgba(17, 81, 180, 0.08);
//    border-radius: 50%;
//     margin-left: 15px;
// }
.iconwork {
  width: 60px;
  height: 60px;
  /* border: solid 10px rgba(17, 81, 180, 0.08); */
  border-radius: 50%;

  background: rgba(17, 81, 180, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.HowItWorks{
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}


:host ::ng-deep .custom-carousel .p-carousel-item {
  margin: 10px; /* Applies margin around each item */
  width: calc((100% / 3) - 100px) !important; /* 20px is twice the 10px margin to account for both left and right */
}

:host ::ng-deep .custom-carousel .p-carousel-content {
  display: flex;
  align-items: stretch; /* Ensures all cards have the same height */
}

:host ::ng-deep .p-carousel-next,
:host ::ng-deep .p-carousel-prev{
  display: none;
}

:host ::ng-deep .p-carousel-indicator .p-link{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .comments {
    height: 320px !important;
  }
}




