<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

 
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="^/(api|uploads|Uploads|assets)/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

 
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".svg"  mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    
    <caching>
      <!-- no-store على index.html -->
      <noStore>
        <add path="index.html" />
      </noStore>

     
      <profiles>
        <add extension=".js"    policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".css"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".png"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".jpg"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".jpeg"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".svg"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".webp"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
      </profiles>
    </caching>

    <!-- 5) Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

 
    <staticCompression>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </staticCompression>

  </system.webServer>
</configuration>
