<div class="search-bar smooth-transition"  (click)="onSearchBarClick($event)">
  <div class="search-fields">
    <div class="field">
      <label for="city">City</label>
      <input type="text" [value]="selectedCity" id="city" [placeholder]="selectedCity!==''?selectedCity:'Where are you going?'" (click)="showPicker('city')">
      <!-- <div style="width:100px" *ngIf="toggle" class="date-picker ">
        <ul style="list-style-type: none;" >
          <li >Berlin</li>
        </ul>
      </div> -->
      <div style="width: 100px;" *ngIf="toggle" class="date-pickerr">
        <ul class="city-picker-list">
          <li class="city-picker-item"  (click)="selectCity('Berlin')">Berlin</li>
          <!-- Add more cities as needed -->
        </ul>
      </div>
    </div>
    <div class="field">
      <label for="check-in date">Check in</label>

      <p-calendar [(ngModel)]="checkInDate" placeholder="Add dates"  (click)="hidePicker('city')" ></p-calendar><!--(focus)="showPicker('check-in')-->
    </div>
    <div class="field date">
      <label for="check-out">Check out</label>

      <p-calendar [(ngModel)]="checkOutDate" placeholder="Add dates" (click)="hidePicker('city')" ></p-calendar><!--(focus)="showPicker('check-out')"-->
    </div>
    <div class="field">
      <label for="guests">Guests</label>

      <input type="text" (click)="onFocusGuests()" [placeholder]="guests > 0 ? guests : 'Add guests'"    >
      <div *ngIf="showGuestsPicker" class="guests-picker"  (keydown)="onGuestsKeyDown($event)">


 <p-floatLabel>

  <div class="d-flex justify-content-between fix " style="display: flex; align-items: center;  position: absolute !important;
  top: 100%;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
width: 200px;
padding: 0px 8px;
">

    <span>Guests</span>
    <p-inputNumber [(ngModel)]="guests" [showButtons]="true" [min]="0" [max]="10" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">

    </p-inputNumber>
  </div>
</p-floatLabel>




      </div>
    </div>
    <div class="field">
      <button class="search-button" (click)="onSearchBarSubmit()"><i class="fa fa-search"></i> Search</button>
    </div>
  </div>
</div>
