



<div class="container">
  <div class="filter-bar">
    <div class="filter-item" >
      <button pButton type="button" label="Price" icon="pi pi-chevron-down" iconPos="right" (click)="togglePicker()" style="position: relative;"></button>
    </div>
    <div class="filter-item">
      <button pButton type="button" label="Type of place" icon="pi pi-chevron-down" iconPos="right"  (click)="togglePickerplace()"></button>
    </div>
    <div class="filter-item">
      <button pButton type="button" label="Guests" (click)="togglePickerguest()" style="position: relative;"></button>
    </div>
    <!-- <div class="filter-item">
      <button pButton type="button" label="Amenities"></button>
    </div> -->
    <div class="filter-item">
      <button pButton type="button" label="Filters" icon="pi pi-sliders-h" iconPos="left" (click)="togglePickerfilter()"></button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="available-apartments">+{{ totalRecords }} apartments available</div>
  <div class="divider wid"></div>

  <div class="main-content">
    <div class="apartment-list mt-3">
      <div *ngFor="let apartment of apartments" class="apartment-card">
        <img [src]="apartment.apartment_Image" alt="{{ apartment.apartment_Name }}" class="apartment-image" routerLink="/apartment-details">
        <div class="apartment-content">
          <div class="apartment-header">
            <div class="apartment-title"><a routerLink="/apartment-details" style="text-decoration: none; color: inherit;">{{ apartment.apartment_Name }}</a> </div>
            <i class="pi pi-heart"></i>
          </div>
          <div class="apartment-location">
            <i class="pi pi-map-marker"></i>
            <span>{{ apartment.apartment_Location }}</span>
          </div>
          <div class="divider"></div>
          <div class="apartment-details">
            <div class="detail-item"><img src="bed.png" alt="bed" class="img-fluid">{{ apartment.apartment_No_Bedrooms }} beds</div>
            <div class="detail-item"><i class="pi pi-user"></i>{{ apartment.apartment_Persons_No }} persons</div>
            <div class="detail-item"><i class="pi pi-home"></i>{{ apartment.apartment_Area_Square }} m²</div>
          </div>
          <div class="amenities">
            <span *ngFor="let amenity of apartment.amenities; let last = last">
              <ng-container *ngIf="amenity === 'Wifi'; else regularAmenity">
                <i class="pi pi-wifi"></i> {{ amenity }}
              </ng-container>
              <ng-template #regularAmenity>
                {{ amenity }}
              </ng-template>
              <span *ngIf="!last" class="dot">·</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="apartment-footer">
            <div class="review">
              <span class="rating">{{ apartment.rating }}</span>
              <i class="pi pi-star"></i>
              <span class="review-count">({{ apartment.reviews }} reviews)</span>
            </div>
            <div class="price">
              <span>{{ apartment.apartment_Price }}€</span>/month
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <img [src]="mapImage" alt="Map" (click)="navigateToMap()">
    </div>
  </div>
</div>


<!--picker price -->

<div class="p-card"   *ngIf="showPicker" class="picker-div" style="background-color: #fff;">
  <div class="p-card-body">
    <div class="p-mb-3" style="width: 100%;">
      <img src="slider.svg"/>
      <p-slider [(ngModel)]="priceRange" [style]="{'width':'100%'}" [range]="true" [min]="0" [max]="5000"></p-slider>
    </div>
    <p class="text-secondary text-center">Price per month</p>


      <div class="row align-items-center mb-2">
        <div class="col-5">
          <label class="price-label">Min</label>
          <div class="border-custom">
            <div class="currency">€</div>
            <div class="input-custom">
              <div class="container-custom">
                <input type="number" pInputText class="value-input" [(ngModel)]="priceRange[0]">
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 text-center d-flex align-items-center justify-content-center" style="padding-top: 15%;">
          <span>-</span>
        </div>
        <div class="col-5">
          <label class="price-label">Max</label>
          <div class="border-custom">
            <div class="currency">€</div>
            <div class="input-custom">
              <div class="container-custom">
                <input type="number" pInputText class="value-input" [(ngModel)]="priceRange[1]">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-between align-items-center">
        <button pButton type="button" label="Clear" class="p-button-clear" (click)="clear()"></button>
        <button pButton type="button" label="Apply" class="p-button-apply" (click)="apply()"></button>
      </div>
  </div>
</div>



<!--picker guests-->

<div *ngIf="showPickerguest" class="picker-div-guest" style="background-color: #fff;">

  <p-floatLabel>

    <div class="d-flex justify-content-between fix " style="display: flex; align-items: center;


    background: white;



    display: flex;
  width: 200px;
  padding: 0px 8px;
  ">

      <span>Guests</span>
      <p-inputNumber [(ngModel)]="guests" [showButtons]="true" [min]="0" [max]="10" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">

      </p-inputNumber>
    </div>
  </p-floatLabel>
  <button pButton type="button" label="Apply" class="p-button-apply" style='width:100%' (click)="apply()"></button>
</div>




<!-- type of place -->
<!-- <div  >
  <div class="TypeOfPlace p-3 mb-2 bg-white rounded shadow-sm">

      <h6 class="text-secondary font-weight-bold" >All apartments include WiFi</h6>

    <div *ngFor="let option of options" class="form-group form-check ">
      <p-checkbox name="apartmentType" [value]="option.value" [(ngModel)]="selectedOptions" inputId="{{option.value}}"  class="form-check-input "></p-checkbox>
      <label [for]="option.value" class="form-check-label ml-3" >{{option.label}}</label>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <button pButton type="button" label="Clear" class="p-button-secondary" (click)="clear()"></button>
      <button pButton type="button" label="Apply" class="p-button-primary" (click)="apply()"></button>
    </div>
  </div>
</div> -->


<div class="container picker-div-place" *ngIf="showPickerplace">
  <div class="TypeOfPlace p-4 mb-2 bg-white rounded shadow-sm">


      <div class=" ">
        <div class="Heading text-secondary font-weight-bold" style="  margin: 10px; margin-bottom: 25px;">All apartments include WiFi</div>
        <div *ngFor="let option of options" class="form-group form-check mb-3">
          <p-checkbox name="apartmentType" [value]="option.value" [(ngModel)]="selectedOptions" inputId="{{option.value}}"  class="form-check-input"  ></p-checkbox>
          <label [for]="option.value" class="form-check-label ml-2">{{option.label}}</label>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button pButton type="button" label="Clear" class="p-button-clear" (click)="clear()"></button>
        <button pButton type="button" label="Apply" class="p-button-apply" (click)="apply()"></button>
      </div>
  </div>
</div>






<div class="container picker-div-filter" *ngIf="filters">
  <div class="TypeOfPlace p-4 mb-2 bg-white rounded shadow-sm">

  <p-floatLabel>

    <div class="d-flex justify-content-between fix " style="display: flex; align-items: center;
    background: white;
    display: flex;
    width: 250px;
    padding: 0px 8px;
    ">

      <span>Rooms</span>
      <p-inputNumber [(ngModel)]="guests" [showButtons]="true" [min]="0" [max]="10" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">

      </p-inputNumber>
    </div>
  </p-floatLabel>
   <hr class="m-0"/>
   <p style="margin: 10px 5px;">Beds</p>
   <p-floatLabel>

    <div class="d-flex justify-content-between fix " style="display: flex; align-items: center;
    background: white;
    display: flex;
    width: 250px;
    padding: 0px 8px;
    ">

      <span>single</span>
      <p-inputNumber [(ngModel)]="guests" [showButtons]="true" [min]="0" [max]="10" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">

      </p-inputNumber>
    </div>
  </p-floatLabel>
  <p-floatLabel>

    <div class="d-flex justify-content-between fix " style="display: flex; align-items: center;


    background: white;
    display: flex;
    width: 250px;
    padding: 0px 8px;
    ">

      <span>double</span>
      <p-inputNumber [(ngModel)]="guests" [showButtons]="true" [min]="0" [max]="10" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">

      </p-inputNumber>
    </div>
  </p-floatLabel>
  <hr class="m-0"/>
  <div class=" ">
    <div class="Heading text-secondary font-weight-bold" style="  margin: 10px; margin-bottom: 25px;">Type of accommodation</div>
    <div *ngFor="let option of options" class="form-group form-check mb-3">
      <p-checkbox name="apartmentType" [value]="option.value" [(ngModel)]="selectedOptions" inputId="{{option.value}}"  class="form-check-input"  ></p-checkbox>
      <label [for]="option.value" class="form-check-label ml-2">{{option.label}}</label>
    </div>
  </div>

<hr class="m-0"/>
<div class="horizontal-border">
  <div class="apartment-size" style="padding-bottom: 20px; margin-top: 10px;">
    <span class="d-block text-dark" style="font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px;">Apartment size<br></span>
    <span class="d-block text-secondary" style="font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px;">Minimum size in m²</span>
  </div>
  <div class="d-inline-flex align-items-center gap-3">
    <div class="button">
      <div>30+</div>
    </div>
    <div class="button">
      <div>60+</div>
    </div>
    <div class="button">
      <div>90+</div>
    </div>
  </div>
</div>
<hr class="m-0"/>

  <div class="d-flex justify-content-between align-items-center">
    <button pButton type="button" label="Clear" class="p-button-clear" (click)="clear()"></button>
    <button pButton type="button" label="Apply" class="p-button-apply" (click)="apply()"></button>
  </div>
</div>
</div>



