.layout-list{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

:host ::ng-deep .map-container {
  width: 100% !important;
  /* height: 100% !important; */
}

/*
.filter-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
  margin-top: 110px;
}

.filter-item {
  display: flex;
  align-items: center;
}

button {
  border-radius: 100px;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border: 1px solid #E5E7EB;
  background-color: white;
  color: #374151;
}

button .p-button-icon-right, button .p-button-icon-left {
  margin-left: 8px;
}

:host ::ng-deep button .p-button-label {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.available-apartments {
  color: #6B7280;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  padding: 10px 20px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #E5E7EB;
  margin-top: 10px;
}
.wid{
  width:50% !important;
} */

#googlemap{
  width: 600px;
  height: 600px  ;
}
.item-card-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
}

.item-card-map img {
  width: 100%;
  max-height: 120px;
  border-radius: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}

.item-card-map h3 {
  margin: 0;
  font-size: 1em;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card-map p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #666;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-card-map {
  z-index: 1000;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
  padding: 1.25rem; /* 20px */
  margin-top: 6.875rem; /* 110px */
  margin-bottom: 0;
  padding-top: 2.25rem;
  padding-bottom: 1rem;
  /* z-index: 12; */
}

.filter-item {
  display: flex;
  align-items: center;
}

button {
  border-radius: 6.25rem; /* 100px */
  box-shadow: 0 0.0625rem 0.125rem rgba(31, 41, 55, 0.08); /* 1px 2px */
  border: 0.0625rem solid #E5E7EB; /* 1px */
  background-color: white;
  color: #374151;
}

button .p-button-icon-right, button .p-button-icon-left {
  margin-left: 0.5rem; /* 8px */
}

:host ::ng-deep button .p-button-label {
  font-size: 0.875rem; /* 14px */
  font-family: Inter ;
  font-weight: 400;
}

.available-apartments {
  color: #6B7280;
  font-size: 1rem; /* 16px */
  font-family: Inter ;
  font-weight: 400;
  padding: 0.625rem 1.25rem; /* 10px 20px */
}

.divider {
  width: 100%;
  border-bottom: 0.0625rem solid #E5E7EB; /* 1px */
  margin-top: 0.125rem; /* 10px */
}

.wid {
  width: 50% !important;
}

@media (max-width: 75rem) {
  .filter-bar {
    flex-direction: row;
    align-items: flex-start;
  }
  .filter-item {
    width: 100%;
    margin-bottom: 1rem; /* 16px */
  }
  .filter-item:nth-child(2)  {
    display: none;
  }
}

@media (max-width: 47.9375rem) {
  .filter-bar {
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 5.75rem;
    justify-content: space-between;
  }
  .filter-item {
    width: auto;
  }
  .filter-item:nth-child(2), .filter-item:nth-child(3) {
    display: none;
  }
  .available-apartments {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}


/*-----main content----*/
/* .main-content {
  display: flex;
  flex-wrap: wrap;
}

.apartment-list {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.apartment-card {
  display: flex;
  background: #F6F6F6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
  margin-right: 20px;
  height: 270px;
}

.apartment-image {
  width: 300px;
  height: inherit;
  object-fit: cover;
}

.apartment-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apartment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartment-title {
  font-size: 20px;
  font-weight: 500;
}

.apartment-location {
  display: flex;
  align-items: center;
  color: #475467;
  font-size: 12px;
}

.apartment-location i {
  margin-right: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #E5E7EB;
  margin: 8px 0;
}

.apartment-details {
  display: flex;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  align-items: center;
  color: #6B7280;
  font-size: 14px;
}

.detail-item i {
  margin-right: 8px;
}

.apartment-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: #6B7280;
  font-size: 14px;
}

.apartment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review .rating {
  color: #374151;
  font-size: 14px;
  font-weight: 500;
}

.review .pi {
  color: #F59E0B;
}

.review-count {
  color: #374151;
  font-size: 14px;
}

.price {
  color: #374151;
  font-size: 18px;
  font-weight: 500;
}

.map {
  width: 600px;
  height: 728px;
  position: relative;
}

.map img {
  width: 100%;
  height: 100%;
}


.amenities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6B7280;
  font-family: Inter, sans-serif;
}

.amenities i {
  margin-right: 5px;
}

.amenities .dot {
  margin: 0 5px;
}

.card {
  border-radius: 8px;
  border: 1px solid #CECECE;
} */

.main-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.apartment-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.apartment-card {
  display: flex;
  background: #F6F6F6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 270px;
}

.apartment-image {
  width: 300px;
  height: 270px;
  object-fit: cover;
}

.apartment-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apartment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartment-title {
  font-size: 20px;
  font-weight: 500;
}

.apartment-location {
  display: flex;
  align-items: center;
  color: #475467;
  font-size: 12px;
}

.apartment-location i {
  margin-right: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #E5E7EB;
  margin: 8px 0;
}

.apartment-details {
  display: flex;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  align-items: center;
  color: #6B7280;
  font-size: 14px;
}

.detail-item i {
  margin-right: 8px;
}

.apartment-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: #6B7280;
  font-size: 14px;
}

.apartment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review .rating {
  color: #374151;
  font-size: 14px;
  font-weight: 500;
}

.review .pi {
  color: #F59E0B;
}

.review-count {
  color: #374151;
  font-size: 14px;
}

.price {
  color: #374151;
  font-size: 18px;
  font-weight: 500;
}

.map {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 150px;
  right: 0;
  align-self: flex-start;
  /* bottom: 600px; */
  margin-right: 40px;


}
.mapp {
  width: 600px;
  height: 600px;

  align-self: flex-start;
  bottom: 200px !important;
  z-index: 10;

}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.amenities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6B7280;
  font-family: Inter, sans-serif;
}

.amenities i {
  margin-right: 5px;
}

.amenities .dot {
  margin: 0 5px;
}

.card {
  border-radius: 8px;
  border: 1px solid #CECECE;
}

.smallmap{
  display: hidden;
}
.smallmap{
  display:hidden;
}

@media (max-width: 80rem) {
  .smallmap{
    display: block;
  }
  .apartment-card {
    flex-direction: row;
    height: auto;
  }
  /* .apartment-image {
    width: 100%;
    height: auto;
  } */
  .map {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 40px;
  }
  .apartment-image {
    width: 400px;
    height: 270px;
    object-fit: cover;
  }
  :host ::ng-deep .map-container {
    width: 100% !important;
    /* height: 100% !important; */
  }


  .mapp {
    width: 0;
    height: 0;



  }
}




@media (max-width: 69rem) {
  .apartment-card {
    flex-direction: row;
    height: auto;
  }
  /* .apartment-image {
    width: 100%;
    height: auto;
  } */
  .map {
    width: 100%;
    height: auto;

    position: relative;
    margin-bottom: 150px;
  }
  .apartment-image {
    width: 100%px;
    height: 270px;
    object-fit: cover;
  }
  .mapp {
    width: 0;
    height: 0;



  }
  :host ::ng-deep .map-container {
    width: 100% !important;
    /* height: 100% !important; */
  }
}

@media (max-width: 55rem) {
  .apartment-card {
    flex-direction: column;
    height: auto;
  }
  .map {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 150px;
  }
  .apartment-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  .mapp {
    width: 0;
    height: 0;



  }
  :host ::ng-deep .map-container {
    width: 100% !important;
    /* height: 100% !important; */
  }
}



/*-----style pickers-----*/

.input-group-text {
  background-color: #E5E7EF;
}

.price-input-group {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #E5E7EF;
}
.price-input-addon {
  position: absolute;
  top:10px;
  left: 20px;
  color: #495057;
  font-size: 1rem;
}

.price-input {
  padding-left: 25px;
  width: 100%;
}

.price-label {
  display: block;
  color: #AEAEAE;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-align: start;
  margin-top: 8px;
}

.p-inputgroup-addon {
  background: #f0f0f0;
}

.p-button-secondary {
  width: 45%;
}

.p-button-primary {
  width: 45%;
}




@media (max-width: 75rem) {
  .p-button-secondary, .p-button-primary {
    width: 100%;
  }
  .TypeOfPlace {
    position:absolute;
    top:100%;
    right :0%;
    width: 300px;
    height: auto;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    border: 1px #CECECE solid;
    border-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    display: flex;
  }
}

@media (max-width: 47.9375rem) {
  .price-input-addon {
    top: 0.5rem; /* 8px */
    left: 1rem; /* 16px */
  }
  .price-input {
    padding-left: 1.25rem; /* 20px */
  }
}








.border-custom {
  width: 100%;
  height: 40px;
  padding-top: 1.60px;
  padding-bottom: 1.60px;
  padding-left: 9.60px;
  padding-right: 1.60px;
  border-radius: 5px;
  border: 1px #E5E7EF solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input-custom {
  width: 100%;
  height: 36.80px;
  padding: 6.40px 5px;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-custom {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 0.80px;
  padding-bottom: 0.80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.currency {
  width: 13.19px;
  height: 15px;
  color: #343434;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 15px;
  word-wrap: break-word;
}
.value-input {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  font-size: 16px;
  font-family: 'Inter' ;
  font-weight: 500;
  word-wrap: break-word;
  padding: 0;
}
.value-input:focus {
  outline: none;
  box-shadow: none;
}


.p-button-clear {
  color: #343434;
  padding-left:0;
  background: none;
  border: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  box-shadow: none !important;
}

.p-button-apply {
  color: #fff;
  width: 60%;
  background-color: #0056b3;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-button-apply:hover {
  background-color: #004085;
}


.picker-div {
   position:absolute;
   top:120%;
   left :0%;
   z-index: 1000;
   display: flex;
width: 300px;
height: auto;
padding: 12px 10px 13px 10px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(--Neutral-Neutral80, #CECECE);
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.picker-div-guest{
  width:300px;

  position:absolute;
  top:120%;
  left :0%;
  z-index: 1000;
  display: inline-flex;
padding: 23px 17.91px 11.2px 20px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 23.01px;
border-radius: 8px;
border: 1px solid var(--Neutral-Neutral80, #CECECE);
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);


display: inline-flex;
padding: 26px 17.91px 23px 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24.01px;

border-radius: 8px;
border: 1px solid var(--Neutral-Neutral80, #CECECE);
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}


.picker-div-place {
  position:absolute;
  top:120%;
  left :0%;
  z-index: 1000;
  display: flex;
width: 300px;
height: auto;
/* padding: 12px 10px 13px 10px; */
padding:0%;
padding: 0;
justify-content: center;
align-items: center;
border-radius: 8px;

background: #FFF;
margin: 0;

}

.picker-div-filter {

  z-index: 1000;
  display: flex;
width: 300px;
height: 292px;
/* padding: 12px 10px 13px 10px; */
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(--Neutral-Neutral80, #CECECE);
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}



.fix{

  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;

  border:none;
  width: 240px;



}



:host ::ng-deep .p-inputnumber .p-inputnumber-input {

  text-align: center;

  border: none;
  outline: none;
  font-size: 16px;
  width: 40px;

  color: #24272E;

text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

:host ::ng-deep .p-inputnumber .p-inputnumber-button {
  margin: auto;
  background: #EDF1F4;
  color:#374151;

  border:none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 13px;
border: 1px solid #E5E9ED;

background: #EDF1F4;

display: flex;
width: 25.99px;
height: 25.99px;
padding: 6.99px 6.99px 7px 7px;
justify-content: center;
align-items: center;
}

:host ::ng-deep .p-inputnumber .p-inputnumber-button-minus {
  margin-right: 5px;
  color:#B5BEC5 !important;
  border-radius: 13px;
border: 1px solid #E5E9ED;

background: #EDF1F4;

}

:host ::ng-deep .p-inputnumber .p-inputnumber-button-plus {
  margin-left: 5px;
  color:#374151;
  border-radius: 13px;
border: 1px solid #E5E9ED;

background: #EDF1F4;
}

:host ::ng-deep .pi-minus{

  color:#B5BEC5;

}



:host ::ng-deep .p-inputnumber .guest-label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}





.TypeOfPlace {
  position:absolute;
  top:120%;
  right:0%;
  width: 300px;
  height: auto;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  border: 1px #CECECE solid;
  border-top: 0;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  display: flex;
}

.Heading {
  color: #7B8389;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-check-input {
  margin-right:50px;
}

.p-checkbox .p-checkbox-box {
  border-radius: 50%;
  border: 1px solid #B5BEC5;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: #1151B4;
  border-color: #1151B4;
}

.p-checkbox .p-checkbox-icon {
  color: white;
}


.horizontal-border {
  width: 308px;
  /* height: 121px; */
  padding-bottom: 20px;
  position: relative;
  /* border-bottom: 1.2px solid #E5E9ED; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.apartment-size {
  width: 136.55px;
  /* height: 42px; */
  padding-bottom: 20px;
}
.button {
  height: 36px;
  padding: 0 21px;
  background: #EDF1F4;
  border-radius: 100px;
  border: 1px solid #E5E9ED;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button div {
  color: #24272E;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}


/* .button {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f0f0f0;
} */

.button input[type="radio"] {
  display: none; /* إخفاء زر الـ radio تماماً */
}

/* .button div {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 21px;
  color: #333;
} */

.button input[type="radio"]:checked  {
  background-color: #0056b3; /* لون الخلفية عند التحديد */
  color: white; /* لون النص عند التحديد */
  border-color: #0056b3; /* تغيير لون الحدود */
}
.button.selected {
  background-color: #0056b3; /* لون الخلفية عند التحديد */
  color: white; /* لون النص عند التحديد */
  border-color: #0056b3; /* تغيير لون الحدود عند التحديد */
}



p,h1,h2,h3,h4,h5,h6,span,div , .Heading{
  font-family: 'Inter' !important;
}
