
<hr class="m-0"/>
<div class="out">
<div class="container">
  <footer class="footer bg-light text-dark ">
    <div class="footer-top row">
      <div class="footer-logo col-md-3 mb-3">

        <div class="logo-container ml-3">
          <div class="logo-text right">ST</div>
          <img src="logo.png" alt="Studiflats Logo" class="logo-image">
          <div class="exclamation-container">
            <!-- <div class="logo-text left">D</div> -->
            <svg class="exclamation-mark" width="15" height="15" viewBox="-2 1 10 20" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="18" r="3.5" fill="#333" />
              <rect x="4" y="0" width="2" height="14" fill="#333" />
            </svg>
          </div>
          <span class="logo-text left">DIFLATS</span>
        </div>


        <ul class="list-unstyled mt-5">
          <li><p>2728 Hickory StreetSalt</p></li>
          <li><p>Lake City, UT 84104</p></li>
          <li><p><i class="fas fa-phone-alt mr-2"></i> +1 206-214-2298</p></li>
          <li><p><i class="fas fa-envelope mr-2"></i> support&#64;studiflats.com</p></li>
        </ul>
      </div>
      <div class="footer-links col-md-3 mb-3">
        <h5 class="pb-2 pt-1">Quick Links</h5>
        <ul class="list-unstyled pageslist">
          <li><a href="#" class="text-dark">Home</a></li>
          <li><a href="#" class="text-dark">About</a></li>
          <li><a href="#" class="text-dark">Properties</a></li>
          <li><a href="#" class="text-dark">FAQs</a></li>
          <li><a href="#" class="text-dark">Blogs</a></li>
        </ul>
      </div>
      <div class="footer-social col-md-3 mb-3 ">
        <h5  class="pb-2 pt-1 ">Follow Us on</h5>
        <div class="followup ">
        <ul class="list-unstyled d-flex justify-content-between ">
          <li class=""><a href="#" class=""><i class="fab fa-linkedin"></i></a></li>
          <li class=""><a href="#" class=""><i class="fab fa-facebook"></i></a></li>
          <li ><a href="#" class="" ><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      </div>
      <div class="footer-app col-md-3 mb-3">
        <h5 class="pb-2 pt-1">Download App Now</h5>
        <ul class="list-unstyled d-flex ">
          <li class="mt-2 ml-2  app"><a href="#"><img src="google-play-badge.svg" alt="Google Play" class="img-fluid"></a></li>
          <li class="mt-2 app "><a href="#"><img src="app-store-badge.png" alt="App Store" class="img-fluid" ></a></li>
        </ul>
        <h5 class="mt-5">Payment Methods</h5>
        <ul class="list-unstyled d-flex">
          <li class="mr-5 paym"><img src="mastercard.png" alt="MasterCard" class="img-fluid"></li>
          <li class="mr-5 payv"><img src="visa.svg" alt="Visa" class="img-fluid"></li>
          <li class=" paya "> <img src="apple-pay.svg" alt="Apple Pay" class="img-fluid apple"></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</div>

<div class="bottom-footer-color">
    <div class="footer-bottom container text-white d-flex justify-content-between align-items-center py-3">
      <div class="col-4 d-flex justify-content-start">
        <a href="#" class="text-white mr-3">CONTACT US</a>
        <a href="#" class="text-white mr-3 policy">PRIVACY POLICY</a>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <span>COPYRIGHT © 2024 • E-TRANSPORTATION</span>
      </div>
      <div class="col-4 d-flex justify-content-end"></div>
    </div>

  </div>
