<!-- <div class="impressum">
  <h1>Impressum</h1>
  <h2>A. Owner and Operator</h2>
  <p><strong>Name:</strong> SF Investment GmbH</p>
  <p><strong>Address:</strong> Spandauer Damm 115, 14050 Berlin</p>
  <p><strong>Phone:</strong> <a href="tel:+4915203290607">+49 1520 3290607</a></p>
  <p><strong>Email:</strong> <a href="mailto:Info@studiflats.de">Info&#64;studiflats.de</a></p>
  <p><strong>Website:</strong> <a href="https://web.studiflats.de/">https://studiflats.de/</a></p>

  <h2>B. Business Registration</h2>
  <p><strong>Register Court:</strong>Amtsgericht Charlottenburg</p>
  <p><strong>Registration Number:</strong>HRB 208572 B</p>
  <p><strong>VAT Identification Number:</strong> [Your VAT ID, if applicable]</p>
  <p><strong>Tax ID:</strong>30/532/52395</p>


  <h2>C. Supervisory Authority (if applicable)</h2>
  <p><strong>Name and Address:</strong> [Supervisory authority details]</p>

  <h2>D. Professional Regulations (if applicable)</h2>
  <p>[Details of any professional regulations applicable to your business]</p>

  <h2>E. Responsible for Content according to § 55 Abs. 2 RStV (if applicable)</h2>
  <p>[Name]</p>
  <p>[Address]</p>

  <h2>I. Resources</h2>
  <p>For more information on Impressum requirements and compliance, please refer to:</p>
  <ul>
    <li><a href="[Link to relevant legal resources]">[Link to relevant legal resources]</a></li>
    <li><a href="[Link to your privacy policy page]">[Link to your privacy policy page]</a></li>
  </ul>
</div> -->
















<div class="impressum">
  <h1>Impressum</h1>

  <h2>A. Owner and Operator</h2>
  <p><strong>Name:</strong> SF Investment GmbH</p>
  <p><strong>Address:</strong> Spandauer Damm 115, 14050 Berlin, Germany</p>
  <p><strong>Phone:</strong> <a href="tel:+4915203290607">+49 1520 3290607</a></p>
  <p><strong>Email:</strong> <a href="mailto:info@studiflats.de">info&#64;studiflats.de</a></p>
  <p><strong>Website:</strong> <a href="https://studiflats.com/">https://studiflats.com/</a></p>

  <h2>B. Business Registration</h2>
  <p><strong>Register Court:</strong> Amtsgericht Charlottenburg</p>
  <p><strong>Registration Number:</strong> HRB 208572 B</p>
  <p><strong>Tax ID:</strong> 30/532/52395</p>

  <h2>C. Authorized Representative</h2>
  <p><strong>Name:</strong> Kariem Bader</p>

  <h2>D. Registered Office</h2>
  <p><strong>Country:</strong> Germany</p>

  <!-- <h2>E. Supervisory Authority (if applicable)</h2>
  <p><strong>Name and Address:</strong> [Supervisory authority details, if applicable]</p>

  <h2>F. Professional Regulations (if applicable)</h2>
  <p>[Details of any professional regulations applicable to your business]</p>

  <h2>G. Responsible for Content according to § 55 Abs. 2 RStV (if applicable)</h2>
  <p>[Name]</p>
  <p>[Address]</p> -->

  <h2>Disclaimer</h2>

  <p><strong>Liability for Content </strong></p>
  <p>The contents of our website were created with the utmost care. However, we cannot guarantee the accuracy, completeness, or up-to-dateness of the content. As a service provider, we are responsible for our own content on this website under general laws, but are not obligated to monitor transmitted or stored external information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific infringement. Upon notification of such violations, we will remove the content immediately.</p>

  <p><strong>Liability for Links</strong></p>
  <p>Our website contains links to external third-party websites over which we have no control. Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the linked pages is always responsible for their content. The linked pages were checked for possible legal violations at the time of linking and illegal content was not identifiable. However, permanent monitoring of the linked pages' content is not feasible without specific indications of a violation. We will remove such links immediately upon notification of any infringements.</p>

  <p><strong>Copyright</strong></p>
  <p>The content and works on this website created by the site operators are subject to German copyright law. Duplication, editing, distribution, and any kind of use beyond the limits of copyright law require the written consent of the respective author or creator. Downloads and copies of this site are permitted for private, non-commercial use only. Where content on this site is not created by the operator, third-party copyrights are respected and content is identified as such. Should you become aware of a copyright infringement, please inform us. Upon notification of violations, we will promptly remove the affected content.</p>

  <h2>I. Resources</h2>
  <p>For more information on Impressum requirements and compliance, please refer to:</p>
  <ul>
    <!-- <li><a href="[Link to relevant legal resources]">[Link to relevant legal resources]</a></li> -->
    <li><a routerLink="/privacy-policy" style="cursor: pointer;">https://studiflats.com/privacy-policy</a></li>
  </ul>
</div>

