
<div class="fixed">
  <!-- <app-header (toggleSearchEvent)="toggleSearch()" (toggleSignEvent)="showLogin()"></app-header> -->
  <app-header (toggleSearchEvent)="toggleSearch()"  ></app-header>

 </div>
 <div [@toggleSearch]="searchVisible"   class="fixed-search-bar smooth-transition">
   <app-search-bar class="mod "    ></app-search-bar>
 </div>
 <p-toast></p-toast>
 

<router-outlet ></router-outlet>
<ng-container *ngIf="isHomePage()">
  <app-subscribe></app-subscribe> 
</ng-container>
<app-footer></app-footer>

 


<!-- Other existing content -->

<div class="whatsapp-button">
  <a href="https://wa.me/4915203290607" target="_blank">
    <img src="icons8-whatsapp.svg" alt="WhatsApp" />
  </a>
</div>


