.fixed{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 88;
}


.fixed-search-bar {
  position: fixed;
  top: 92px;
  width: 100%;
  left: 0;
  z-index: 11;
  /* // padding-top: 15px; */
  background-color: white;
}

.mod {
  width: 100%;
}

@media (max-width: 990px) {
  .fixed-search-bar {
    position: fixed;
    top: 290px;
    width: 100%;
    left: 0;
    z-index: 11;
    /* // padding-top: 15px; */
    background-color: white;
  }
}
