
<!-- <div class=" w-100" style="background: #EBEBEB; padding-right:40px; padding-left:40px; padding-bottom: 40px; "> -->
<div class=" w-100 faqSmall" [ngClass]="customClass" [ngStyle]="{'background-color': backgroundColor, 'padding-right': '40px', 'padding-left': '40px', 'padding-bottom': '40px'}">

<!-- <div style="height: 100px;"></div> -->
 <div [ngStyle]="{'height': fixheight}" ></div>



<div class="header" [ngStyle]="getTitleStyle()">
  <h1>Frequently asked questions</h1>
  <p>find questions and answers related to your booking</p>
</div>


<p-accordion>
  <p-accordionTab *ngFor="let faq of faqs" >
    <ng-template pTemplate="header">
      <div class="custom-accordion-header">
        <span class="faq-question">{{ faq.faq_Quest }}</span>
        <!-- <i class="pi pi-plus "></i> -->
        <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary faq-button"></button>
      </div>
    </ng-template>
    <p class="m-0">
      {{ faq.faq_Ans }}
    </p>

  </p-accordionTab>


</p-accordion>

<div *ngIf="showViewAllButton" class="text-end mt-3">
  <a routerLink="/faq" class="btn btn-outline-primary view-all-btn">
    View All
    <i class="bi bi-arrow-right ms-2"></i>
  </a>
</div>







