



<div class="contacts">
  <div class="frame">
    <div class="header">
      <h1>Frequently asked questions</h1>
      <p>find questions and answers related to your booking</p>
    </div>
    <div class="faq-list">
      <div class="faq-item" *ngFor="let faq of faqs">
        <p-card class="faq-card">
          <div class="faq-content">
            <div class="faq-title">
              {{faq}}
            </div>
            <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary faq-button"></button>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
