<div class="style">
  <div class="logo">
    <div class="container hero-text">
      <h1>About Us</h1>
      <p>Welcome to StudiFlats, your trusted partner in finding the perfect home for your academic journey in Berlin. As a Berlin-based company, we specialize in connecting international students with comfortable and affordable apartments in this vibrant city.  Our mission is to make your transition to Berlin as seamless and enjoyable as possible.</p>
    </div>
  </div>
  <div class="mission">
    <div class="hero-text" style="color: var(--Neutral-Neutral20, #313033) !important; width: 50%; ">
      <h1 style="color: var(--Neutral-Neutral20, #313033) !important; "> Our Mission </h1>
      <p style="color: var(--Neutral-Neutral20, #313033) !important;">
        At StudiFlats, we understand the challenges students face when searching for accommodation in a foreign city.
        Our goal is to provide a stress-free, reliable service that connects students with quality apartments that suit
        their needs and budgets. We strive to foster a supportive environment where students can focus on their studies
        and enjoy their time in Berlin. </p>

    </div>
    <div class="row"  >
        <div class="col-6"  style="flex:1">
          <img style="margin-bottom: 20px; margin-left: 35px;" src="one.png"/>
          <img src="two.png"/>
        </div>
        <div class="col-6" style="flex:2">
          <img style="margin-top: 100px; " src="lone.png"/>
        </div>
    </div>
  </div>
  <div class="studiflat">
     <div class="row imgs"  >
        <div class="col-6"  style="flex:1">
          <img style="margin-bottom: 20px; margin-left: 35px;" src="one.png"/>
          <img src="two.png"/>
        </div>
        <div class="col-6" style="flex:2">
          <img style="margin-top: 100px; margin-left: 25px; " src="lone.png"/>
        </div>
    </div>
    <div>
      <h1 style="color: var(--Neutral-Neutral20, #313033) !important;" class="mb-5">Why Choose StudiFlats</h1>
       <div>
         <ul style="list-style: none;">
          <li class="mb-5">
            <h6 style="color: var(--Neutral-Neutral20, #313033) !important; color: #000;

            /* text style/english text style/Display xs/Medium */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */ "><img class="imgg" src="checkk.svg" />Local Expertise</h6>
            <p style="color: var(--Neutral-Neutral20, #313033) !important; color: var(--Neutral-Neutral30, #484649);
            text-align: justify;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */
            text-transform: capitalize;">Our in-depth knowledge of the Berlin housing market and the unique needs of international students allows us to offer tailored services that meet your specific requirements.</p>
          </li>
          <li class="mb-5">
            <h6 style="color: var(--Neutral-Neutral20, #313033) !important; color: #000;

            /* text style/english text style/Display xs/Medium */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */"><img class="imgg"  src="checkk.svg"/>Trusted Partnerships</h6>
            <p style="color: var(--Neutral-Neutral20, #313033) !important;color: var(--Neutral-Neutral30, #484649);
            text-align: justify;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */
            text-transform: capitalize; ">We collaborate with reputable property owners who share our commitment to providing quality housing, ensuring a wide range of options in prime locations.</p>
          </li>
          <li>
            <h6 style="color: var(--Neutral-Neutral20, #313033) !important; color: #000;

            /* text style/english text style/Display xs/Medium */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */"><img class="imgg"  src="checkk.svg"/>Commitment to Excellence</h6>
            <p style="color: var(--Neutral-Neutral20, #313033) !important; color: var(--Neutral-Neutral30, #484649);
            text-align: justify;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */
            text-transform: capitalize;">We pride ourselves on delivering exceptional service and building lasting relationships with our clients, ensuring your rental experience is positive and rewarding.</p>
          </li>
         </ul>
       </div>
    </div>
  </div>
  <div class="mission">
    <div class=" container hero-text" style="color: var(--Neutral-Neutral20, #313033) !important; width: 50%; ">
      <h1 style="color: var(--Neutral-Neutral20, #313033) !important; "> Our Team </h1>
      <p style="color: var(--Neutral-Neutral20, #313033) !important;">
        Our passionate team is dedicated to supporting students throughout their housing journey. With expertise in real estate, customer service, and student support, we are here to guide you every step of the way, making your transition to Berlin a successful and enjoyable one. </p>

    </div>
    <img src="Polygon.png" style="margin-right: 100px;"/>
  </div>
 </div>
