@import "primeicons/primeicons.css";

.fixed{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 1040;
}


.fixed-search-bar {
  position: fixed;
 top: 75px;
  width: 100%;
  left: 0;
  z-index: 11;
  /* // padding-top: 15px; */
  background-color: white;
}

.mod {
  width: 100%;
}
.smooth-transition {
  transition: all 1s ease;
}

@media (max-width: 990px) {
  .fixed-search-bar {
    position: fixed;
    top: 290px;
    width: 100%;
    left: 0;
    z-index: 11;
    /* // padding-top: 15px; */
    background-color: white;
  }
}


/*----------------------login modal----------------------------*/
@media (max-width: 975px) {
  .modal-image-section {
    display: none;
    width: 0;
    height: 0;
  }
  .modal-form-section {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modal-verify-section {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.login-modal-container {
  display: flex;
  height: 650px;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}


.modal-image-section {
  width: 50%;
  background: linear-gradient(330deg, rgba(56, 105, 235, 0) 0%, rgba(56, 105, 235, 0.7) 100%);
}

.modal-form-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-verify-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
:host ::ng-deep .p-inputotp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 10px;
}
.rotate{
  color: var(--primary-color-600, #1151B4);
  text-align: center;


  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857rem;
  letter-spacing: 0.0025rem;
}
.rotatee{
  display:flex;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 599px) {
  :root {
      --base-font-size: 0.875rem; /* 14px equivalent */
  }
}

.logo {
  width: 100px;
}

.login-header {
  text-align: left;
}

.login-title {
  font-size: 32px;
  font-weight: 600;
  color: #313131;
}

.login-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #313131;
  opacity: 0.75;
}


.labell {
  color: #344054;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.action {
  color: #162447;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 5px;
}

 




 




:host ::ng-deep .p-dropdown-items {
  margin: 0;
  padding: 0 !important;
  list-style-type: none;

}

:host ::ng-deep  .p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}
:host ::ng-deep  .p-calendar {

  width: 100%;
}


/* :host ::ng-deep  .p-datepicker {



  transform-origin: center bottom;
  top: -250% !important;
  left: -200% !important;
  margin-top: calc(var(--p-anchor-gutter));
  z-index: 1002;
} */

/* @media (max-width: 900px) {

  :host ::ng-deep  .p-datepicker {



    transform-origin: center bottom;
    top: -250% !important;
    left: -230px !important;
    margin-top: calc(var(--p-anchor-gutter));
    z-index: 1002;
  }
} */


/* .modal{
  z-index: 2600;
}
.iti__country-list {
  position: absolute;
  z-index: 2222 !important;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */

/* @media (max-width: 767px) {

  :host ::ng-deep .iti__country-list {
   position: fixed;
   z-index: 2222 !important;
   list-style: none;
   text-align: left;
   padding: 0;
   margin: 0 0 0 -1px;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
   background-color: white;
   border: 1px solid #CCC;
   white-space: nowrap;
   max-height: 200px;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
 }
 } */

 /* @media (max-width: 767px) {

  :host ::ng-deep .iti__country-list {
   position: absolute !important;
   top:100px;
   z-index: 99999!important;
   list-style: none;
   text-align: left;
   padding: 0;
   margin: 0 0 0 -1px;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
   background-color: white;
   border: 1px solid #CCC;
   white-space: nowrap;
   max-height: 200px;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;

  width: auto;
  max-width: 300px;

 }
 :host ::ng-deep .modal{
  z-index: 66 !important;
  top:90px

}


 } */


 :host ::ng-deep .iti__country-list {

  z-index: 3001 !important;
  width:100%
 /* width: auto !important;  */
 /* max-width: 300px !important;  */

}



/* In your component's CSS file */
.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 1000;
}

.whatsapp-button img {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}


.form-check-input:focus {
  /* border-color: #86b7fe; */
  outline: 0 !important;
  /* box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25); */
  /* background: #0d6efd; */

  /* background-color: #0d6efd !important; */
  border:3px solid #0d6efd !important;
}


.input-group .toggle-password-icon {
  z-index: 10; /* Ensure it stays on top */
  color: #6c757d;
}

.input-group input:focus + .toggle-password-icon {
  color: #007bff; /* Change color on focus */
}

.input-group input {
  padding-right: 40px; /* Make space for the eye icon */
}
