.section {
  margin-bottom: 30px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  /* justify-content:space-evenly; */
  justify-content:flex-start;
  gap:20%;
  /* position: relative; */
}

.switch-row {
  display: flex;
  align-items: center;
  justify-content:flex-start;
   width:200px;
  margin-bottom: 30px;
}

.switch-row p-inputSwitch {
  margin-right: 10px;
}
.section span{
  color: var(--Neutral-Neutral30, #484649);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
text-transform: capitalize;
}

.parent{
  margin-bottom: 100px;
}

.head{
  width: 100%;
}
.title{
  color: #263238;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
opacity: 0.8;
margin-bottom: 5px;
}
.description{
  color: var(--Neutral-Neutral40, #605D62);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-transform: capitalize;
margin-bottom: 5px;

}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #1151B4;
}

.section .name{
  margin-bottom: 30px;
  /* display: block; */
  width:220px !important;
 }

@media (max-width:768px) {
  .section {
    margin-bottom: 30px;
    margin-left: 2%;
    display: flex;
    align-items:start;
    /* justify-content:space-evenly; */
    justify-content:flex-start;
    gap:10%;
    flex-direction: column;
    /* position: relative; */
  }

  .section .name{
   margin-bottom: 30px;
   /* display: block; */
   /* width:150px !important; */
  }

}

.section label{
  color: var(--Neutral-Neutral50, #787579);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-transform: capitalize;
}





.otherRule{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rule{
  display: flex;
  justify-content: start;
  align-items: center;
  gap:10px;
}
.spanOne {
  text-align: end;
  color: #263238;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
:host ::ng-deep .form-check-input:checked {
  background-color: #1151B4;
  border-color: #1151B4;
}

.btn-outline-primary {
  color: #1151B4;
  background-color: transparent;
  background-image: none;
  border-color: #1151B4;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color:#1151B4;

  border-color: #1151B4;
}
.btn-outline-primary:active,
.btn-outline-primary:focus {

  background-color:#1151B4 !important;
  color:#fff !important;
  border-color: #1151B4 !important;
}



