
<div style="height: 85px;  background: var(--Neutral-Neutral95, #F6F6F6);"></div>
<p-breadcrumb class="max-w-full" [model]="items">
  <ng-template pTemplate="item" let-item>
      <a [routerLink]="item.routerLink" class="p-menuitem-link" routerLinkActive="text-primary font-semibold">
          <span *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></span>
          <span>{{ item.label }}</span>
      </a>
  </ng-template>
</p-breadcrumb>
<div class="main-container row g-5" >



<div class="col-lg-3 col-md-4 col-sm-1">

  <app-app-sider></app-app-sider>
</div>



  <div class="col-lg-9 col-md-8 col-sm-11">
    <div class="parent">
       <div class="sectionOne">
        <p-avatar
        [image]="imgProfile"
        styleClass="mr-4"
        size="xlarge"
        shape="circle"
        />
        <div class="info">
            <h4>{{userName}}</h4>
            <p>{{emaillogin}}</p>
        </div>
        <div class="divider"></div>
        <!-- <button pButton>Upload</button> -->
        <p-fileUpload
            mode="basic"
            chooseLabel="Upload"
            chooseIcon="pi pi-upload"
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*"
            maxFileSize="1000000"
            (onUpload)="onUpload($event)"
            [auto]="true" />
            <!-- <button  pButton  class="update" type="submit" label="Update" style="align-self: flex-end;" (click)="updateImg()"></button> -->
            <div *ngIf="selectedFile" class="dialog ml-4"> <p-button (click)="updateImg()"  label="Update"></p-button></div>
       </div>

       <div class="sectionTwo">
        <form>
          <div class="row w-full">

          <div class="col-lg-6 col-sm-12 ">
          <div class="flex flex-column gap-2 full-width col">
            <label for="username">Username</label>
            <input
                pInputText
                id="username"
                aria-describedby="username-help"
                [(ngModel)]="userName"
                name="username"
                #username="ngModel"
                required
                minlength="3"/>
            <!-- <small id="username-help">
                Enter your username to reset your password.
            </small> -->
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
              <small *ngIf="username.errors?.['required']">Username is required.</small>
              <small *ngIf="username.errors?.['minlength']">Username must be at least 3 characters long.</small>
            </div>
          </div>

          <!-----phone input ------->
          <div class="flex flex-column gap-2 full-width col">
            <label for="phone">Country</label>
            <input
                id="country"
                name="country"
                [(ngModel)]="country"
                required
                #countryy="ngModel"
                class="form-control">
            <div *ngIf="countryy.invalid && (countryy.dirty || countryy.touched)" class="error">
              <small *ngIf="countryy.errors?.['required']">country is required.</small>
            </div>
          </div>
        </div>
          <!------gender and date-->
         <div class="col-lg-6 col-sm-12 ">
          <div class="flex flex-column gap-2 full-width col">
            <label for="gender">Gender</label>
            <p-dropdown
                [options]="genders"
                [(ngModel)]="gender"
                name="gender"
                placeholder="Select a gender">
            </p-dropdown>
          </div>

          <div class="flex flex-column gap-2 full-width col">
            <label for="birthday">Birthday</label>
            <p-calendar
                [(ngModel)]="birthday"
                name="birthday"
                dateFormat="mm/dd/yy"
                showIcon="true"
                [placeholder]="birthday">
            </p-calendar>
          </div>


          <div class="flex flex-column gap-2 full-width col justify-content-end align-content-end">
            <button  pButton  class="update" type="submit" label="Update" style="align-self: flex-end;" (click)="updateProfile()"></button>
          </div>
        </div>
        </div>
        </form>

       </div>

       <div class="sectionTwo row dialog" style="padding: 13px;">
        <div class="col-lg-11 col-md-9 col-sm-12 ">
        <p class="label">Email Address</p>
        <p class="value">{{emaillogin}}</p>
        </div>

        <div class="col-lg-1 col-md-3 col-sm-12 "> <p-button (onClick)="showDialog()" label="Update"></p-button></div>
       </div>


       <div class="sectionTwo row dialog" style="padding: 13px;">
        <div class="col-lg-11 col-md-9 col-sm-12 ">
        <p class="label">what’sApp Number</p>
        <p class="value">{{phonelogin}}</p>
        </div>
         <!-- <div class="col-lg-1 col-md-3 col-sm-12 "> <a href="">Update</a></div> -->
         <div class="col-lg-1 col-md-3 col-sm-12 "> <p-button (onClick)="showDialog1()" label="Update"></p-button></div>
       </div>


       <div class="sectionTwo row dialog" style="padding: 13px;">
        <div class="col-lg-11 col-md-9 col-sm-12 ">
        <p class="label">Change Password</p>
        <p class="value">**************</p>
        </div>
        <!-- <div class="col-lg-1 col-md-3 col-sm-12 col"> <a href="">Update</a></div> -->
        <div class="col-lg-1 col-md-3 col-sm-12 "> <p-button (onClick)=" showDialogPass()" label="Update"></p-button></div>

       </div>


    </div>
  </div>


</div>








<!----------------otp dialog--------------->

<p-dialog
    header="Verification"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp">Verification</span>
    </ng-template>

    <span class="disc">
        Please enter the verification code sent to your email.
    </span>

    <!-- Using p-inputMask for OTP -->
    <div class="flex justify-content-center align-items-center mb-4">
      <p-inputOtp [(ngModel)]="value" />
    </div>

    <div class="flex justify-content-center align-items-center gap-2 mb-4">
        <a href="#" class="resend-link">
            <i class="pi pi-refresh"></i> Resend verification code
        </a>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinue()">
        </p-button>
    </ng-template>
</p-dialog>


<p-dialog
    header="Verification"
    [(visible)]="visible1"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp">Verification</span>
    </ng-template>

    <span class="disc">
      Please enter the verification code sent to your what’s app
    </span>

    <!-- Using p-inputMask for OTP -->
    <div class="flex justify-content-center align-items-center mb-4">
      <p-inputOtp [(ngModel)]="value" />
    </div>

    <div class="flex justify-content-center align-items-center gap-2 mb-4">
        <a href="#" class="resend-link">
            <i class="pi pi-refresh"></i> Resend verification code
        </a>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinue1()">
        </p-button>
    </ng-template>
</p-dialog>



<!-------------------email dialog----------->


<p-dialog
    header="Verification"
    [(visible)]="emailDialog"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp">Add New Email</span>
    </ng-template>

    <!-- <span class="disc">
      Please enter new email address
    </span> -->

    <div class="flex flex-column gap-2 full-width col">
      <label for="email">Current Email</label>
      <input
        pInputText
        id="email1"

        aria-describedby="email-help"
        [(ngModel)]="currentEmail"
        name="emaill"
        #email1="ngModel"
        required
        email
      />
      <!-- Uncomment this if you'd like to add some guidance -->
      <!-- <small id="email-help">
          Enter your email to reset your password.
      </small> -->

      <div *ngIf="email1.invalid && (email1.dirty || email1.touched)" class="error">
        <small *ngIf="email1.errors?.['required']">Email is required.</small>
        <small *ngIf="email1.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </div>
    <div class="flex flex-column gap-2 full-width col">
      <label for="password">Current Password*</label>
      <p-password id="passwordD" [(ngModel)]="currentPassword" #password="ngModel" [toggleMask]="true"
                  required minlength="8"  ></p-password>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
      </div>
    </div>
    <div class="flex flex-column gap-2 full-width col">
      <label for="email">New Email</label>
      <input
        pInputText
        id="email2"

        aria-describedby="email-help"
        [(ngModel)]="newEmail"
        name="emailL"
        #email2="ngModel"
        required
        email
      />
      <!-- Uncomment this if you'd like to add some guidance -->
      <!-- <small id="email-help">
          Enter your email to reset your password.
      </small> -->

      <div *ngIf="email2.invalid && (email2.dirty || email2.touched)" class="error">
        <small *ngIf="email2.errors?.['required']">Email is required.</small>
        <small *ngIf="email2.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </div>


    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinueEmail()">
        </p-button>
    </ng-template>
</p-dialog>

<!----------------------phone dialog------------->



<p-dialog
    header="Verification"
    [(visible)]="phoneDialog"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp" style="font-size: 28px;">Add New What’s App </span>
    </ng-template>

    <span class="disc">
      Please enter new what’s app number
    </span>


    <div class="flex flex-column gap-2 full-width col">
      <label for="phonee">Current Phone</label>
      <input

          name="phonee"
          [(ngModel)]="currentPhone"
          required
          #phoneee="ngModel"
          class="phonee form-control">
      <div *ngIf="phoneee.invalid && (phoneee.dirty || phoneee.touched)" class="error">
        <small *ngIf="phoneee.errors?.['required']">Phone number is required.</small>
      </div>
    </div>
    <div class="flex flex-column gap-2 full-width col">
      <label for="password">Current Password*</label>
      <p-password id="passwordDD" [(ngModel)]="currentPasswordPhone" #password="ngModel" [toggleMask]="true"
                  required minlength="8"  ></p-password>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
      </div>
    </div>
    <div class="flex flex-column gap-2 full-width col">
      <label for="phonee">New Phone</label>
      <input
          class="phonee"
          name="phonee"
          [(ngModel)]="newPhone"
          required
          #phonee="ngModel"
          class="form-control phonee">
      <div *ngIf="phonee.invalid && (phonee.dirty || phonee.touched)" class="error">
        <small *ngIf="phonee.errors?.['required']">Phone number is required.</small>
      </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinuePhone()">
        </p-button>
    </ng-template>
</p-dialog>


<!-----------------password dialog--------------->

<p-dialog
    header="Verification"
    [(visible)]="passwordDialog"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp">change password</span>
    </ng-template>

    <span class="disc">
      Please enter current password then add new password
    </span>

    <div class="flex flex-column gap-2 full-width col">
      <label for="password">Current Password*</label>
      <p-password id="password" [(ngModel)]="currentPass" #password="ngModel" [toggleMask]="true"
                  required minlength="8"  ></p-password>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
      </div>
    </div>

    <div class="flex flex-column gap-2 full-width col">
      <label for="password">New Password*</label>
      <p-password id="password" [(ngModel)]="newPass" #password="ngModel" [toggleMask]="true"
                  required minlength="8" ></p-password>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
      </div>
    </div>

    <div class="flex flex-column gap-2 full-width col">
      <label for="password">Confirm New Password*</label>
      <p-password id="password" [(ngModel)]="confirmNewPass" #password="ngModel" [toggleMask]="true"
                  required minlength="8"  ></p-password>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
      </div>
    </div>


    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinuePass()">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog
    header="Verification"
    [(visible)]="visible1"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [closable]="true">

    <ng-template pTemplate="header">
        <span class="spanotp">Verification</span>
    </ng-template>

    <span class="disc">
      Please enter the verification code sent to your what’s app
    </span>

    <!-- Using p-inputMask for OTP -->
    <div class="flex justify-content-center align-items-center mb-4">
      <p-inputOtp [(ngModel)]="value" />
    </div>

    <div class="flex justify-content-center align-items-center gap-2 mb-4">
        <a href="#" class="resend-link">
            <i class="pi pi-refresh"></i> Resend verification code
        </a>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Continue"
            class="continue-button"
            styleClass="p-button-primary p-button-block"
            (onClick)="handleContinue1()">
        </p-button>
    </ng-template>
</p-dialog>
