/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeflex/themes/primeone-light.css";


* {

  box-sizing: border-box;
  // font-family: 'Inter' !important;
}


html, body {
  width: 100%;
  overflow-x: hidden;

}
.iti{
  width: 100%;
  position: relative;
}

// @media (max-width: 400px) {
//  body{
//   padding: 0 !important;
//   margin: 0 !important;
//  }
//  :host ::ng-deep .iti .iti__country-list {
//   position: absolute !important;
//   z-index: 9999 !important;
//   list-style: none;
//   text-align: left;
//   padding: 0 !important;
//   margin: 0 0 0 -1px !important;
//   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) !important;
//   background-color: white !important;
//   border: 1px solid #CCC !important;
//   white-space: nowrap !important;
//   max-height: 200px !important;
//   overflow-y: scroll !important;
//   -webkit-overflow-scrolling: touch !important;
// }

// .modal {
//   z-index: 3333 !important;
// }
// .intl-tel-input .country-list {
//   z-index: 9999 !important;
// }

// }


.ui-messages, .p-toast {
  z-index: 9999 !important; /* Adjust the z-index value as needed */
}

input[type="radio"]:checked {
  background-color: #007bff !important;
}

.wid{
  width: 50% !important;
}


@media (max-width:768px) {
  body{
    padding: 0;
    margin: 0;
  }

  .row{
    padding:8px !important;

  }
  .container-fluid{
    padding:8px !important;
  }

  .carousel{
    padding:10px !important;
  }
  .apartment-card{
    width:340px !important;
  }
  .HowItWorks{
    padding:10px !important;
  }
  .custom-accordion-style{
    padding:10px !important;
  }
  .faq-button{
    border-radius: 50% !important;
  }
  .layout-list{
    padding:10px !important;
  }
  .fix-card{
    width:100% !important;
  }
  .wid{
    width: 100% !important;
  }

  .fix-details{
   margin-left:10px !important;
   margin-right:10px !important;

  }

}




// .intl-tel-input .country-list {
//   z-index: 9999 !important;
// }

// .modal{
//   z-index: 3000;
// }


//   .iti__country-list {

//   z-index: 3001 !important;
//   width: auto !important;
//   max-width: 300px !important;

//  }

// .iti__selected-flag {
//   position: relative;
// }

 .iti-mobile .iti__country-list {
  max-height: 40%;
  position: absolute;
  z-index: 9999 !important;
  width: auto !important; /* ضبط العرض ليكون تلقائيًا بناءً على المحتوى */
  max-width: 300px !important; /* أقصى عرض للقائمة */
  top: 32%;

}
