/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeflex/themes/primeone-light.css";


* {

  box-sizing: border-box;
  // font-family: 'Inter' !important;
}


html, body {
  width: 100%;
  overflow-x: hidden;

}
.iti{
  width: 100%;
}




