/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeflex/themes/primeone-light.css";


* {

  box-sizing: border-box;
  // font-family: 'Inter' !important;
}


html, body {
  width: 100%;
  overflow-x: hidden;

}
.iti{
  width: 100%;
  position: relative;
}

// @media (max-width: 400px) {
//  body{
//   padding: 0 !important;
//   margin: 0 !important;
//  }
//  :host ::ng-deep .iti .iti__country-list {
//   position: absolute !important;
//   z-index: 9999 !important;
//   list-style: none;
//   text-align: left;
//   padding: 0 !important;
//   margin: 0 0 0 -1px !important;
//   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) !important;
//   background-color: white !important;
//   border: 1px solid #CCC !important;
//   white-space: nowrap !important;
//   max-height: 200px !important;
//   overflow-y: scroll !important;
//   -webkit-overflow-scrolling: touch !important;
// }

// .modal {
//   z-index: 3333 !important;
// }
// .intl-tel-input .country-list {
//   z-index: 9999 !important;
// }

// }


.ui-messages, .p-toast {
  z-index: 9999 !important; /* Adjust the z-index value as needed */
}

input[type="radio"]:checked {
  background-color: #007bff !important;
}

.wid{
  width: 50% !important;
}


@media (max-width:768px) {
  body{
    padding: 0;
    margin: 0;
  }

  .row{
    padding:8px !important;

  }
  .container-fluid{
    padding:8px !important;
  }

  .carousel{
    padding:15px !important;
  }
  .apartment-card{
    width:340px !important;
  }
  .HowItWorks{
    padding:15px !important;
  }
  .custom-accordion-style{
    padding:15px !important;
  }
  .faq-button{
    border-radius: 50% !important;
  }
  .layout-list{
    padding:10px !important;
  }
  .fix-card{
    width:100% !important;
    // margin-right: 50px !important;
  }
  .wid{
    width: 100% !important;
  }

  .fix-details{
   margin-left:15px !important;
   margin-right:15px !important;

  }
  .faqSmall{
    padding-left:15px !important;
   padding-right:15px !important;
  }

}

// @media (max-width:520px) {
//   .apartment-card{
//     width:490px !important;
//   }
// }
// @media (max-width:500px) {
//   .apartment-card{
//     width:450px !important;
//   }
// }

// @media (max-width:470px) {
//   .apartment-card{
//     width:420px !important;
//   }
// }

// @media (max-width:450px) {
//   .apartment-card{
//     width:400px !important;
//   }
// }
// @media (max-width:420px) {
//   .apartment-card{
//     width:350px !important;
//   }
// }
// @media (max-width:370px) {
//   .apartment-card{
//     width:310px !important;
//   }
// }


.btn-outline-secondary:hover {
  background-color: #dbe9fd; /* Custom hover background color */
  color: #ffffff; /* Custom hover text color */
}




// .intl-tel-input .country-list {
//   z-index: 9999 !important;
// }

// .modal{
//   z-index: 3000;
// }


//   .iti__country-list {

//   z-index: 3001 !important;
//   width: auto !important;
//   max-width: 300px !important;

//  }

// .iti__selected-flag {
//   position: relative;
// }

 .iti-mobile .iti__country-list {
  max-height: 40%;
  position: absolute;
  z-index: 9999 !important;
  width: auto !important; /* ضبط العرض ليكون تلقائيًا بناءً على المحتوى */
  max-width: 300px !important; /* أقصى عرض للقائمة */
  top: 32%;

}









input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important; /* Set text color to default */
}

  .p-datepicker {
  transform-origin: center bottom;
  /* top: -600% !important; */
  top:100% !important;
  left: 0% !important;

  z-index: 99999;
}

/* :host ::ng-deep .p-datepicker .p-datepicker-group-container {

} */
  .p-datepicker .p-datepicker-group-container table span {
 padding: 0 !important;
 width: 20px !important ;
 height: 20px !important;

}

.p-datepicker .p-datepicker-header{
  padding: 0 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #495057;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  font-weight: 600;
  padding: 2px !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 1;
}


@media (max-width:1200px) {

  .p-datepicker {
    transform-origin: center bottom;
    /* top: -600% !important; */
    top:100% !important;
    left: 0% !important;

    z-index: 99999;
  }

  /* :host ::ng-deep .p-datepicker .p-datepicker-group-container {

  } */
    .p-datepicker .p-datepicker-group-container table span {
   padding: 0 !important;
   width: 20px !important ;
   height: 20px !important;

  }

    .p-datepicker-header{
    padding: 0 !important;
  }

  .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: #495057;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    padding: 2px !important;
  }

}


.p-dialog{
  z-index: 99999999999999 !important;
}
:host ::ng-deep app-auth{
  z-index: 99999999999999 !important;

}



 
