

<div class=" mx-6" style="margin-top: 100px;   position:relative">



  <div class="header section-to-watch">
    <div class="title">{{ aprt.apartment_Name}}
      <div  style="   width: 100%; color: #6B7280; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word; margin-top: 10px;">{{ aprt.apartment_Location}}</div>
    </div>
    <div class="right">
      <div class="icon-text">
        <i class="bi bi-share icon"></i>
        <div class="share-text">Share</div>
      </div>
      <div class="icon-text">

          <i class="bi bi-heart"></i>

        <div class="favorite-text">Add to favorite</div>
      </div>
    </div>
  </div>
  <!-- images-->

  <!-- <div  style=" margin-top: 25px !important;  clear: both; width: 100%; color: #6B7280; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word; margin-top: 10px;">Alice Springs NT 0870, Germany</div> -->

  <div class=" gallery-container section-to-watch" style="position: relative;">
    <div class="row   ">
      <div class="col-6    ">
        <img  [src]="currentImage" alt="Main Image" class="main-image w-full h-full">
      </div>
      <div class="col-6">
        <div class="row ">
          <div class="col-6  mt-0"  >
            <img  [src]="aprt_Imgs[1] || 'default_apartment.jpg'" alt="Thumbnail 1" class="thumbnail mb-2 h-50">
            <img [src]="aprt_Imgs[2] || 'default_apartment.jpg'" alt="Thumbnail 2" class="thumbnail h-50">
          </div>
          <div class="col-6 ">
            <img [src]="aprt_Imgs[3] || 'default_apartment.jpg'" alt="Thumbnail 2" class="thumbnail mb-2 h-50 ">
            <img [src]="aprt_Imgs[4] || 'default_apartment.jpg' " alt="Thumbnail 2" class="thumbnail h-50">
            <div class="show-all-btn" (click)="openModal()"><span (click)="openModal()">Show all</span> </div>
          </div>

        </div>
      </div>

      <div class="modal fade show" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true" [ngClass]="{'d-block': showimages}" style="display: none;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel">All Images</h5>
              <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="image-container">

                <img [src]="aprt_Imgs[currentIndex] || 'default_apartment.jpg'" alt="Image" class="" style="width: 100%; max-height: 600px !important;">

                <div *ngIf="aprt_Imgs.length > 0" class="navigation-buttons" style="display: flex; justify-content: space-between; margin-top: 20px;">
                  <button class="btn btn-secondary" style="border-radius:10px; background-color:#D2D9E1; color: #1F4068;" (click)="prevImage()" [disabled]="currentIndex === 0">Previous</button>
                  <button class="btn btn-secondary" style="border-radius:10px; background-color:#D2D9E1; color: #1F4068;" (click)="nextImage()" >Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!--rating and video-->

      <div class="">
        <div class="d-flex justify-content-center align-items-start gap-3">
          <div class="d-flex justify-content-between align-items-center w-100 py-3 flex-wrap">
            <div class="d-flex justify-content-between align-items-end gap-8">
              <div class="d-flex align-items-center gap-2">
                <span class="fs-5 fw-normal" style="font-family: 'Poppins', sans-serif;">Rating (4.8)</span>
                <div class="d-flex gap-2 rating-stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>

            </div>
            <div class="d-flex align-items-center gap-3">
            <div class="shared-area" *ngIf="aprt.apartment_SharedArea">
              shared area
            </div>
            <div class="video-container d-flex align-items-center">
              <div class="d-flex gap-2 align-items-center" (click)="openVideo(aprt.apartment_VideoLink)">
                <i class="bi bi-play video-icon"></i>
                <span class="view-video">view video</span>
              </div>
              <div class="video-divider mx-3"></div>
              <div class="d-flex gap-2 align-items-center" (click)="open360Video(aprt.apartment_360DLink)">
                <div class="video-360"></div>
                <span class="view-video">360D</span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="sanitizedVideoUrl && aprt.apartment_VideoLink" class="video-modal ">
        <iframe [src]="sanitizedVideoUrl" width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <div *ngIf="sanitized360DUrl && aprt.apartment_360DLink" class="video-modal">
        <iframe [src]="sanitized360DUrl" width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>


    </div>





  </div>

<div style="position: relative;">

  <div class=" ml-0 mt-3 " style="position: relative;">


    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="location-item">
          <i class="bi bi-calendar2-date"></i>
          <div class="location-text">  Available from {{ aprt.apartment_Published_at | date: 'dd MMM yyyy' }}</div>
        </div>
      </div>
    </div>

      <div class="row g-2  ">

        <div class="col-lg-8 col-md-10 col-sm-12  g-2">
          <div class="frame">
            <div class="frame-item pl-0">
              <i class="bi bi-house-door text-secondary"></i>
              <div class="text">{{aprt.apartment_Rooms.length}} room</div>
            </div>
            <div class="frame-divider"></div>
            <div class="frame-item">
              <i class="bi bi-person text-secondary"></i>
              <div class="text">{{noAllbed}} person</div>
            </div>
            <div class="frame-divider"></div>
            <div class="frame-item">
              <i class="bi bi-house text-secondary"></i>
              <div class="text">{{aprt.apartment_Area_Square}} m2</div>
            </div>
            <div class="frame-divider"></div>
            <div class="frame-item">
              <i class="bi bi-bed text-secondary"></i>
              <div class="text">{{bedAvailable}} beds left</div>
            </div>
          </div>
          <div class="description-title">Descriptions</div>

          <div class="description-content">
            <span>{{ isFullDescription ? aprt.apartment_Description : truncatedDescription }}</span>

          </div>
          <div class="read-more text-decoration-none"><a href="#" (click)="toggleDescription($event)" *ngIf="isFullDescription">
            Read More. . .
          </a> </div>
          <hr />


          <div class="d-flex flex-column align-items-start gap-3 my-3">
            <div class="title-description">Additional Information</div>
            <div class="d-flex flex-column align-items-start gap-2">
              <div class="d-flex align-items-center gap-2">
                <!-- <i class="fas fa-file-invoice-dollar icon-bill"></i> -->
                  <img src="utility.svg"/>
                <div class="utilities">Utilities Not Included</div>
              </div>
              <div class="details">Electricity, Gas, and Water</div>
            </div>
          </div>
          <hr/>


          <div class="d-flex flex-column align-items-start gap-3">
            <div class="d-flex align-items-center gap-3">
              <!-- <i class="fas fa-bus icon-bill" style="font-size: 24px; color: #344054;"></i> -->
              <img src="transport.svg"/>
              <div class="section-title">Public transport</div>
            </div>
            <!-- <div class="d-flex flex-column align-items-start gap-3">
              <div class="d-flex align-items-start gap-3" *ngIf="let i of aprt.apartment_Transports">
                <div class="d-flex flex-column gap-2">
                  <div class="distance">{{ aprt.apartment_Transports[i].transport_Distance }} m:</div>
                  <div class="distance">{{ aprt.apartment_Transports[i].transport_Distance }} m:</div>
                </div>
                <div class="d-flex flex-column gap-2">
                  <div class="transport-mode">{{ aprt.apartment_Transports[i].transport_Name }}</div>
                  <div class="transport-mode">{{ aprt.apartment_Transports[i].transport_Name }}</div>
                </div>
              </div>
              <div class="see-more">See More. . .</div>
            </div> -->
            <div class="d-flex flex-column align-items-start gap-3">
              <div class="d-flex align-items-start gap-3" *ngFor="let transport of visibleTransports; let i = index">
                <div class="d-flex flex-column gap-2">
                  <div class="distance">{{ transport.transport_Distance }} m:</div>
                </div>
                <div class="d-flex flex-column gap-2">
                  <div class="transport-mode">{{ transport.transport_Name }}</div>
                </div>
              </div>
              <div *ngIf="aprt.apartment_Transports.length > 1 && !showAllTransports" class="see-more">
                <a href="#" (click)="showMore($event)">See More...</a>
              </div>
            </div>

          </div>
          <hr />

          <div class="d-flex flex-column gap-3">
            <div class="frame-title">Key Features</div>
            <div class="d-flex align-items-center gap-3">
              <div class="item-title">Rooms  </div>
              <div class="divider  " style="margin-top: 12px;"></div>
            </div>
            <!-- <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="d-flex align-items-center gap-3 mb-3">

                   <img src="shared.svg" />
                  <div class="item-title">Shared area</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Desk or workspace</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Door intercom system</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">TV</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="d-flex align-items-center gap-1 mb-3">
                  <img src="bedd.svg" />

                    <div class="item-title">Bedroom 1</div>
                    <div class="item-subtitle">Double</div>

                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bed linens</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Pillow</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Blankets</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bedside lamp</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Closet or chest of drawers</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="d-flex align-items-center gap-1 mb-3">
                  <img src="bedd.svg" />

                    <div class="item-title">Bedroom 2</div>
                    <div class="item-subtitle">Single</div>

                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bed linens</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Pillow</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Blankets</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bedside lamp</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Closet or chest of drawers</div>
                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let room of apartmentsEquipment.rooms_Details; let i = index">
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name==='shared_area'">
                  <img src="shared.svg" />
                  <div class="item-title">Shared area</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name==='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Desk or workspace</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name==='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Door intercom system</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name==='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">TV</div>
                </div>
                <div class="d-flex align-items-center gap-1 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="bedd.svg" />
                  <div class="item-title">Bedroom {{ i + 1 }}</div>
                  <div class="item-subtitle">{{ room.room_Type }}</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Bed linens</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Pillow</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Blankets</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Bedside lamp</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3" *ngIf="room.room_Name!=='shared_area'">
                  <img src="checkround.svg" />
                  <div class="item-title">Closet or chest of drawers</div>
                </div>
              </div>
            </div>

          </div>



          <div class="d-flex flex-column gap-3">

            <div class="d-flex align-items-center gap-3">
              <div class="item-title">Kitchen & Bathrooms</div>
              <div class="divider" style="margin-top: 12px;"></div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let room of apartmentsEquipment.kitchen_Details; let i = index">
                <div class="d-flex align-items-center gap-3 mb-3"  >
                  <!-- <i class="fas fa-couch item-icon"></i> -->
                   <img src="kitchen.svg" />
                  <div class="item-title">Kitchen {{i+1}}</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Desk or workspace</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Door intercom system</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">TV</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let room of apartmentsEquipment.bathroom_Details; let i = index">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="bath.svg" />

                    <div class="item-title">Bathroom {{i+1}}</div>


                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bed linens</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Pillow</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Blankets</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Bedside lamp</div>
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                  <img src="checkround.svg" />
                  <div class="item-title">Closet or chest of drawers</div>
                </div>
              </div>

            </div>
          </div>




          <div class="d-flex flex-column gap-3">

            <div class="d-flex align-items-center gap-3">
              <div class="item-title">Other</div>
              <div class="divider" style="margin-top: 12px;"></div>
            </div>
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="feature.svg" />
                <div class="item-title">Special Features</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="wifi.svg" />
                <div class="item-title">Wifi</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="fire.svg" />
                <div class="item-title">Dryer</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="coffee.svg" />
                <div class="item-title">Coffee Machine</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="dish.svg" />
                <div class="item-title">Dishwasher</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="bath.svg" />
                <div class="item-title">2 toilets</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="primearea.svg" />
                <div class="item-title">Prime area</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="iron.svg" />
                <div class="item-title">Iron</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="parking.svg" />
                <div class="item-title">Parking</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="bath.svg" />
                <div class="item-title">Other Facilities</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="checkround.svg" />
                <div class="item-title">Shower</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="checkround.svg" />
                <div class="item-title">Hairdryer</div>
              </div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <img src="checkround.svg" />
                <div class="item-title">Towels</div>
              </div>
            </div>
</div>



</div>





<!-------------------------end col-6-->
        </div>
      <!------------------------------------col-4-->

      <div class="col-lg-3  col-md-10 col-sm-12    ">
        <div class=" bookingdisplay   booking-box  " *ngIf="isVisible">
          <div class="d-flex justify-content-start align-items-center gap-3">
              <div class="d-flex justify-content-start align-items-center gap-2">
                  <i class="bi bi-calendar3 text-secondary"></i>
                  <div class="text-secondary" style="font-size: 14px; font-family: Poppins, sans-serif; font-weight: 400;">Available from 28 JUN 2024</div>
              </div>
          </div>
          <div class="detailss">
              <div class="row">
                <div class="attribute">
                  <label for="checkout" style="font-size: 10px; font-family: Inter, sans-serif; font-weight: 600; color: black;">CHECK IN</label>
                  <input type="date" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400; color: #6B7280; border: none; outline: none;" id="checkout" value="">
                 </div>
                  <!-- <div class="attribute">
                      <div class="text-dark" style="font-size: 10px; font-family: Inter, sans-serif; font-weight: 600;">CHECKOUT</div>
                      <div class="text-secondary" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400;">2/26/2022</div>
                  </div> -->
                  <div class="attribute">
                    <label for="checkout" style="font-size: 10px; font-family: Inter, sans-serif; font-weight: 600; color: black;">CHECKOUT</label>
                    <input type="date" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400; color: #6B7280; border: none; outline: none;" id="checkout" value="">
                  </div>
              </div>

              <!-- <div class="dropdown guests-dropdown">
                <div class="d-flex justify-content-start align-items-center gap-2 p-2 dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="flex-grow-1">
                        <div class="text-dark" style="font-size: 10px; font-family: Inter, sans-serif; font-weight: 600;">GUESTS</div>
                        <div class="text-secondary" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400;">Select guests </div>
                    </div>
                    <i class="bi bi-chevron-down text-secondary"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="p-2 pl-3"> 1 guest </li>
                    <li class="p-2 pl-3"> 2 guests </li>
                    <li class="p-2 pl-3"> 3 guests </li>
                    <li class="p-2 pl-3"> 4 guests </li>
                </ul>
            </div> -->
            <div class="dropdown guests-dropdown">
              <div class="d-flex justify-content-start align-items-center gap-2 p-2 dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="flex-grow-1">
                      <div class="text-dark" style="font-size: 10px; font-family: Inter, sans-serif; font-weight: 600;">GUESTS</div>
                      <div class="text-secondary" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400;">
                          {{ selectedGuest }}
                      </div>
                  </div>
                  <i class="bi bi-chevron-down text-secondary"></i>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="p-2 pl-3" *ngFor="let guest of guests" (click)="selectGuest(guest)">
                      {{ guest }}
                  </li>
              </ul>
          </div>


          </div>

          <div id="fixlogin" class="booking-button">
            <button class="btn-base"  (click)="openModals()">Request Apartment</button>
        </div>
          <!-- <div class="booking-button">
              <button class="btn-base" data-bs-toggle="modal" data-bs-target="#loginModal">Request Apartment</button>
          </div> -->
          <div class="text-secondary text-center" style="font-size: 14px; font-family: Inter, sans-serif; font-weight: 400;">Please enter the complete duration of your stay</div>
          <div class="dividerr"></div>
          <div class="row-footer">
              <div class="starting-from">Starting From</div>
              <div class="price">
                  <div class="amount">€500</div>
                  <div class="per-guest">per guest</div>
              </div>
          </div>
      </div>

      </div>



      </div>

  </div>


  <hr />
  <div class="frame-title mb-3">Location</div>

  <!-- <google-map [center]="center" [zoom]="zoom" style="width:inherit; margin-bottom: 50px; ">

  </google-map> -->
  <div class="map-container" style="width: 100vw;">
    <google-map class="map-container section-to-watch" [center]="center" [zoom]="zoom"   style="width: 100vw !important; height: 500px; margin-bottom: 50px;">
      <!-- Add your map markers, info windows, and other configurations here -->
    </google-map>
  </div>
  <hr class="my-4"/>



  <div class="frame-title mb-5">apartment rules</div>
  <div class="row">
    <div class="col-md-6 col-sm-12 ">
      <div class="d-flex flex-column gap-3">
        <div class="icon-text">
          <img src="clock.svg" />
          <div class="text">Check-in: After 4:00 PM</div>
        </div>
        <div class="icon-text">
          <img src="clock.svg" />
          <div class="text">Checkout: 10:00 AM</div>
        </div>
        <div class="icon-text">
          <img src="door-enter.png" />
          <div class="text">Self check-in with lockbox</div>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-sm-12 mt-3">
      <div class="d-flex flex-column gap-3">
        <div class="icon-text">
         <img src="shopping-cart.svg" />
          <div class="text">Not suitable for infants (under 2 years)</div>
        </div>
        <div class="icon-text">
          <img src="fire.svg" />
          <div class="text">No smoking</div>
        </div>
        <div class="icon-text">
          <img src="bone.svg" />
          <div class="text">No pets</div>
        </div>
        <div class="icon-text">
          <img src="party.svg" />
          <div class="text">No parties or events</div>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <div class="rating-section">
    <div class="star-container">
      <i class="fas fa-star star-icon"></i>
      <div class="rating-text">5.0</div>
    </div>
    <div class="dot"></div>
    <div class="reviews-text">12 reviews</div>
  </div>


<div class="d-grid">
  <div class="row g-2">
    <div class="col-lg-4 col-md-6">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <div class="  airbnb-comment">
        <div class="user-info">
          <div class="avatar">
            <img src="https://via.placeholder.com/56x56" alt="User Avatar" class="img-fluid">
          </div>
          <div class="title-subtitle">
            <div class="title">Jose</div>
            <div class="subtitle">December 2021</div>
          </div>
        </div>
        <div class="comment mt-3">Host was very attentive.</div>
      </div>
    </div>











  </div>
</div>

<div class="button-container my-3">
  <div class="button-base">
    <div class="button-text">Show all 12 reviews</div>
  </div>
</div>

<div class="headerf">
  <h1>Frequently asked questions</h1>
  <p>find questions and answers related to your booking</p>
</div>


<p-accordion>
  <p-accordionTab *ngFor="let faq of faqs" >
    <ng-template pTemplate="header">
      <div class="custom-accordion-header">
        <span class="faq-question">{{ faq.faq_Quest }}</span>
        <!-- <i class="pi pi-plus "></i> -->
        <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary faq-button"></button>
      </div>
    </ng-template>
    <p class="m-0">
      {{ faq.faq_Ans }}
    </p>

  </p-accordionTab>

</p-accordion>


</div>


</div>




<!------------popup modal---------------------------->
<p-toast></p-toast>
<div class="modal " id="loginModal" tabindex="-1"  role="dialog" [ngStyle]="{'display': displayModal}" style="background-color: rgb(23 22 22 / 50%);">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">



      <div class="modal-body p-0" style="position: relative;">
        <button aria-hidden="true" style="position: absolute; top:0; right:0; background-color: transparent; border:none;" (click)="onCloseQrModal()">×</button>

        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        style="position: absolute; top:0; right:0;"></button> -->

        <div class="login-modal-container">

          <div class="modal-form-section p-4">
            <img class="logo mb-4" src="logoo.png" alt="Logo"/>
            <div class="login-header mb-4">
              <h2 class="login-title">Login</h2>
              <p class="login-subtitle">Please login to access your account</p>
            </div>


            <div class="login-methods d-flex justify-content-start align-items-center gap-4 mb-3">
              <div class="labell">Login by</div>
              <div class="d-flex gap-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="loginMethod" id="whatsApp" value="whatsApp" [(ngModel)]="loginMethod">
                  <label class="form-check-label" for="whatsApp">What’s App</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="loginMethod" id="email" value="email" checked [(ngModel)]="loginMethod">
                  <label class="form-check-label" for="email">Email</label>
                </div>
              </div>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="off">
            <div class="login-form">

              <div class="mb-3" *ngIf="loginMethod === 'whatsApp'">

                  <div class="input-group ">
                    <!-- <span class="input-group-text">
                      <img src="https://via.placeholder.com/24x24" alt="flag">
                      <span class="ms-2">+380</span>
                    </span> -->
                    <input  id="phone" type="tel"  class="form-control w-100"   placeholder="1234563788" autocomplete="off">

                  </div>
                  <div *ngIf="loginForm.get('mobile')?.errors && loginForm.get('mobile')?.touched" class="text-danger" style="font-size: 12px;">
                    <div *ngIf="loginForm.get('mobile')?.errors?.['required']">Mobile number is Invalid.</div>
                    <div *ngIf="loginForm.get('mobile')?.errors?.['pattern']">Please enter a valid mobile number (10-15 digits).</div>
                  </div>

              </div>

              <div class="mb-3" *ngIf="loginMethod === 'email'">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  <input type="email" class="form-control" placeholder="Email*" formControlName="email" autocomplete="off">

                </div>
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger" style="font-size: 12px;">
                  <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
                </div>
              </div>

              <div class="mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Password*" autocomplete="off">
                  <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger" style="font-size: 12px;">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['weakPassword']">
                      Password must contain upper case, lower case, numeric, and special characters.
                    </div>
                  </div>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">
                    Remember me
                  </label>
                </div>
                <a href="#" class="text-primary">Forgot Password</a>
              </div>
              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary" style="background-color: #1151B4;"   data-bs-toggle="modal" data-bs-target="#guestDetailsModal"  >Login</button>
              </div>
              <div class="text-center mb-3">
                <span>Don’t have an account? <a href="#" class="text-primary">Sign up</a></span>
              </div>
              <div class="text-center mb-3">
                <span>Or login with</span>
              </div>
              <div class="d-flex justify-content-around ">
                <button class="btn btn-outline-secondary w-50 mr-2"><img src="googlebtn.svg"/></button>
                <button class="btn btn-outline-secondary w-50"><img src="applebtn.svg"/></button>
              </div>
            </div>
            </form>
          </div>
          <div class="modal-image-section"><img src="loginimg.png"  /></div>
        </div>
      </div>
    </div>
  </div>
</div>







<!------------------------------booking modal----------------->
<div class="modal " id="loginModal" tabindex="-1"  role="dialog" [ngStyle]="{'display': displayModalbooking}" style="background-color: rgb(23 22 22 / 50%);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style=" height: 140px; padding-left: 24px; padding-right: 24px; padding-top: 31px; padding-bottom: 31px; background: #F0F6FF; justify-content: center; align-items: center; display: inline-flex">
        <div class="w-100" style="text-decoration: none;">
          <p-steps [model]="items" (Responsive)="true" [(activeIndex)]="activeIndex" [readonly]="false" (onChange)="onStepChange($event)"></p-steps>

         </div>
         <button aria-hidden="true" style="position: absolute; top:0; right:0; background-color: transparent; border:none;" (click)="onCloseQrModal()">×</button>

      </div>
      <div class="modal-body">

<!-------------------step1-->
        <div class="container mt-4" *ngIf="activeIndex===0"  >
          <div class="card" >
            <div class="card-body">

              <div class="text-and-supporting-text">
                <div class="main-text">choose what suits you best</div>
                <div class="supporting-text">Please select beds and rooms that you want or select full apartment</div>
              </div>
              <div class=" ">
                <div class="frameaprt border-bottom pb-3">
                  <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                    <div class="full-apartment">Full Apartment</div>
                    <div class="frame-checkbox-aprt">
                      <input type="checkbox" class="form-check-input" />
                    </div>
                  </div>
                  <div class="price-aprt">
                    <span class="price-label">Price: </span>
                    <span class="price-value">${{ bedsPrice}}</span>
                  </div>
                </div>
                <div  *ngFor="let room of aprt.apartment_Rooms;let i = index">
                <div class="" *ngIf="room.room_Type==='Single'">
                  <div class="frameaprt border-bottom pb-3">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                      <div class="full-apartment">Single Room</div>
                      <div class="frame-checkbox-aprt">
                        <input type="checkbox" class="form-check-input" />
                      </div>
                    </div>
                    <div class="price-aprt">
                      <span class="price-label">Room Price: </span>
                      <span class="price-value">${{room.bed_Price}}</span>
                    </div>
                  </div>

                </div>
                <div class="" *ngIf="room.room_Type!=='Single'">
                  <div class="frameaprt pb-3 border-none">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                      <div class="full-apartment">{{room.room_Type }}</div>
                      <div class="frame-checkbox-aprt">
                        <input type="checkbox" class="form-check-input" />
                      </div>
                    </div>
                    <div class="price-aprt">
                      <span class="price-label">Room Price: </span>
                      <span class="price-value">${{ room.beds_No * room.bed_Price}}</span>
                    </div>
                    <div class="price-aprt">
                      <span class="price-label">Bed Price: </span>
                      <span class="price-value">${{room.bed_Price}}</span>
                    </div>

                    <div class="frame-bed pb-2" *ngFor="let bed of room.room_Beds">
                      <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                        <div class="bed-title">{{ bed.bed_Name}}</div>

                        <div class="frame-checkbox-aprt">
                          <input type="checkbox" class="form-check-input" />
                        </div>
                      </div>
                      <div *ngIf="!bed.bed_Available" class="badge-unavailable">
                        <span class="text-unavailable">Unavailable</span>
                      </div>
                      <div *ngIf="bed.bed_Available" class="badge-available">
                        <span class="text-available">Available</span>
                      </div>
                    </div>
                    <!-- <div class="frame-bed">
                      <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                        <div class="bed-title">Bed 2</div>

                        <div class="frame-checkbox-aprt">
                          <input type="checkbox" class="form-check-input" />
                        </div>
                      </div>
                      <div class="badge-available">
                        <span class="text-available">Available</span>
                      </div>
                    </div> -->

                  </div>

                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

        <!------------step 2-->
        <div class="container-fluid" *ngIf="activeIndex===1">
          <div class=" mt-4">
            <div class="text-and-supporting-text">
              <div class="main-text">enter guests details</div>
              <div class="supporting-text">
                Please provide the names, email addresses, and phone numbers of the guests who will be staying with you in this apartment.
              </div>
            </div>


          </div>

          <div class=" container mt-4" style=" padding:15px; border: 0.8px solid #DFE4EA; border-radius: 8px;">
            <div class="text-and-supporting-text">
              <div class="main-text">Single Room</div>
              <div class="supporting-text">
                Please provide the names, email addresses, and phone numbers of the guests who will be staying with you in this apartment.
              </div>
            </div>

            <div class="d-flex align-items-center gap-4 pt-3 pb-3">
              <div class="label-step">Do you plan to stay here?</div>
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center gap-2">
                  <input type="radio" id="stay-yes" name="stay" value="yes" class="custom-radio-step">
                  <label for="stay-yes" class="action-step">Yes</label>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <input type="radio" id="stay-no" name="stay" value="no" class="custom-radio-step">
                  <label for="stay-no" class="action-step">No</label>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start gap-3">
              <div class="input-container input-step2 w-50">
                <div class="form-group mb-0 w-100">
                  <input type="text" class="form-control form-step2 w-100" placeholder="Guest Name">
                </div>
              </div>
              <div class="input-container input-step2 w-50">
                <div class="form-group mb-0 w-100">
                  <input type="email" class="form-control form-step2 w-100" placeholder="Guest Email">
                </div>
              </div>
            </div>


              <div class="mb-3 w-50 mt-3 " >
                <div class="input-group ">
                  <span class="input-group-text">
                    <img src="https://via.placeholder.com/24x24" alt="flag">
                    <span class="ms-2">+380</span>
                  </span>
                  <input type="text" class="form-control form-step2" placeholder="1234563788">
                </div>
              </div>


          </div>






          <div class=" container mt-4" style=" padding:15px; border: 0.8px solid #DFE4EA; border-radius: 8px;">
            <div class="text-and-supporting-text">
              <div class="main-text">Single Room</div>
              <div class="supporting-text">
                Please provide the names, email addresses, and phone numbers of the guests who will be staying with you in this apartment.
              </div>
            </div>

            <div class="d-flex align-items-center gap-4 pt-3 pb-3">
              <div class="label-step">Do you plan to stay here?</div>
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center gap-2">
                  <input type="radio" id="stay-yes" name="stay" value="yes" class="custom-radio-step">
                  <label for="stay-yes" class="action-step">Yes</label>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <input type="radio" id="stay-no" name="stay" value="no" class="custom-radio-step">
                  <label for="stay-no" class="action-step">No</label>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start gap-3">
              <div class="input-container input-step2 w-50">
                <div class="form-group mb-0 w-100">
                  <input type="text" class="form-control form-step2 w-100" placeholder="Guest Name">
                </div>
              </div>
              <div class="input-container input-step2 w-50">
                <div class="form-group mb-0 w-100">
                  <input type="email" class="form-control form-step2 w-100" placeholder="Guest Email">
                </div>
              </div>
            </div>


              <div class="mb-3 w-50 mt-3 " >
                <div class="input-group ">
                  <span class="input-group-text">
                    <img src="https://via.placeholder.com/24x24" alt="flag">
                    <span class="ms-2">+380</span>
                  </span>
                  <input type="text" class="form-control form-step2" placeholder="1234563788">
                </div>
              </div>


          </div>


        </div>


         <!------------step 3-->
         <div class="container-fluid" *ngIf="activeIndex===2">
          <div class=" mt-4">
            <div class="text-and-supporting-text">
              <div class="main-text">booking summary</div>
              <div class="supporting-text">
                here is your booking summary
              </div>
            </div>


          </div>

          <div class=" container mt-4" style=" padding:15px; border: 0.8px solid #DFE4EA; border-radius: 8px;">


              <div class="booking-summary my-3">Booking Summary</div>
              <div class="booking-summary-frame">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="room-title">Single Room</div>
                  <div class="room-price">$400</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div>
                    <span class="fee-title">Security Deposit </span>
                    <span class="refundable">(Refundable)</span>
                  </div>
                  <div class="fee-price">$50.00</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div class="fee-title">Service Fee</div>
                  <div class="fee-price">$50.00</div>
                </div>
                <div class="divider"></div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div class="room-title">Double Room</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div class="bed-title">bed 1</div>
                  <div class="bed-price">$350</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div class="bed-title">bed 2</div>
                  <div class="bed-price">$350</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div>
                    <span class="fee-title">Security Deposit </span>
                    <span class="refundable">(Refundable)</span>
                  </div>
                  <div class="fee-price">$40.00</div>
                </div>
                <div class="d-flex justify-content-between align-items-center  w-100">
                  <div class="fee-title">Service Fee</div>
                  <div class="fee-price">$30.00</div>
                </div>
                <div class="divider"></div>
                <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="total-label">Total</div>
                  <div class="total-price">$750</div>
                </div>


              </div>




          </div>









        </div>

      </div>



      <div class=" modal-footer container mt-4 d-flex justify-content-between" style="max-width: 948px;">
        <button class="btn btn-outline-dark custom-btn"   type="button">Back</button>
        <button *ngIf="activeIndex!==2" class="btn btn-primary custom-btn" style="background-color: #1151B4;" type="button">Next</button>
        <button *ngIf="activeIndex===2" class="btn btn-primary custom-btn" style="background-color: #1151B4; text-transform: capitalize; font-weight: 300;" type="button" (click)="openModalsuccess()">confirm</button>
      </div>

    </div>
  </div>
</div>





<!------------------------------confirm booking modal----------------->


<div class="modal " id="loginModal" tabindex="-1"  role="dialog" [ngStyle]="{'display': displayModalsuccess}" style="background-color: rgb(23 22 22 / 50%);">
  <div class="modal-dialog modal-lg">
    <div class="modal-header"  >

      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#F0F6FF">
        <span aria-hidden="true" >&times;</span>
      </button> -->
    </div>
    <div class="modal-content">
      <div class="modal-body p-0">
        <button aria-hidden="true" style="position: absolute; top:0; right:0; background-color: transparent; border:none;" (click)="onCloseQrModal()">×</button>
        <div class="send-success-container">
          <div class="modal-form-section-success ">
            <div class="modal-header-success p-0">
              <div class="content-success">
                <div class="text-and-supporting-text-success">
                  <div class="featured-icon">
                    <img src="tick_done.svg"/>
                  </div>
                  <div class="frame-success">
                    <div class="text-successs">Send Successfully</div>
                    <div class="supporting-text-success">Your booking request has been sent successfully</div>
                    <div class="supporting-text-success">
                      <span>Booking ID </span>
                      <span class="booking-id">#1254353</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="button-close-x" data-bs-dismiss="modal">
                <div class="icon-close"></div>
              </div> -->
            </div>
            <div class="footer-frame-success">
              <div class="footer-text-success">To complete the booking process, please download our app.</div>
              <div class="app-links">
                <img class="google-play-link" src="apple-store.png" />
                <img class="apple-store-link" src="google-play.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- <div class="modal fade" id="signModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body p-0" style="position: relative;">


          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="position: absolute; top:0; right:0;"></button>

        <div class="login-modal-container">

          <div class="modal-image-section"><img src="loginimg.png"  /></div>
          <div class="modal-form-section p-4">

            <img class="logo mb-4" src="logoo.png" alt="Logo"/>
            <div class="login-header mb-4">
              <h2 class="login-title">Sign up</h2>
              <p class="login-subtitle">Welcome! Please enter your personal information</p>
            </div>



            <div class="login-form">
              <div class="mb-3" >
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="https://via.placeholder.com/24x24" alt="flag">
                    <span class="ms-2">+380</span>
                  </span>
                  <input type="text" class="form-control" placeholder="1234563788">
                </div>
              </div>



              <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">
                    Remember me
                  </label>
                </div>
                <a href="#" class="text-primary">Forgot Password</a>
              </div>
              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary" style="background-color: #1151B4;"    data-bs-toggle="modal" data-bs-target="#guestDetailsModal"  >Sign up</button>
              </div>
              <div class="text-center mb-3">
                <span>Don’t have an account? <a href="#" class="text-primary">Sign up</a></span>
              </div>
              <div class="text-center mb-3">
                <span>Or Sign with</span>
              </div>
              <div class="d-flex justify-content-around ">
                <button class="btn btn-outline-secondary w-50 mr-2"><img src="googlebtn.svg"/></button>
                <button class="btn btn-outline-secondary w-50"><img src="applebtn.svg"/></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->
