<div class="parent">

  <div class="head" style="margin-bottom: 50px;">
    <p class="title">Provide Pricing Details and House Rules</p>
    <p class="description">
      Please share the rental price for your property and outline any specific rules or policies that tenants should be aware of.
    </p>
  </div>






<div class="form-container">
  <div class="form-row">
    <input
      pInputText
      *ngIf="!isSmallScreen"
      placeholder="what is your monthly rent?"
      [(ngModel)]="rent" />

    <input
      pInputText
      *ngIf="isSmallScreen"
      placeholder="Monthly Rent?"
      [(ngModel)]="rent" />

    <input
      pInputText
      *ngIf="!isSmallScreen"
      placeholder="what is the security deposit?"
      [(ngModel)]="deposit" />

    <input
      pInputText
      *ngIf="isSmallScreen"
      placeholder="Security Deposit?"
      [(ngModel)]="deposit" />
  </div>

  </div>


  <div class=" ">
    <div class="title mb-4">Define Other Rules</div>

    <!-- Iterate through the array of rules -->
    <div *ngFor="let rule of rules; let i = index" class=" otherRule mb-3">
      <!-- <label>Rule Name:</label> -->
       <div class="rule w-full">
        <input pInputText [(ngModel)]="rule.ruleName" placeholder="Enter rule name" style="width:57%"  />

        <div class="form-check mt-2">
          <input type="checkbox" [(ngModel)]="rule.isAllowed" class="form-check-input" />
          <label class="form-check-label spanOne">Is Allowed</label>
        </div>
       </div>


      <!-- Optional: Add a button to remove a specific rule -->
      <button type="button" class="btn btn-outline-danger mt-2" (click)="removeRule(i)">Remove Rule</button>
    </div>

    <!-- Button to add new rule -->
    <button type="button" class="btn btn-outline-primary mb-4" (click)="addRule()">
      + Add New Rule
    </button>

    <!-- Display the rules for debugging -->
    <!-- <div class="mt-4">
      <h4>Current Rules</h4>
      <pre>{{ rules | json }}</pre>
    </div> -->
  </div>




  <p-floatLabel>
    <textarea
        id="float-input"
        rows="5" cols="30"
        pInputTextarea>
    </textarea>
    <label for="float-input">outline any specific rules or policies that tenants should be aware of</label>
</p-floatLabel>





</div>
